<% include ../partials/head %>

<div class="container container-single">
	<% if(locals.blog){ %>
	<div class="single-wrapper" id="<%= locals.blog._id %>">
		<div class="col-md-10 offset-md-1 content-wrapper pt-0 pb-0">
			<div class="blog-header text-center p-3 col-md-10 offset-md-1">
				<h3 class="single-title inline">
					<%= locals.blog.title %> <% if (locals.user && locals.user.role === "admin") { %>
					<a href="/Admin/Blog/Patch/<%= locals.blog._id %>"><i class="fas fa-edit"></i></a>
					<% } %>
				</h3>
				<p class="blog-info pb-2">by <b class="blog-author"><%= locals.blog.author %></b>, <i class="blog-date"><%= locals.blog.date %></i></p>
				<hr class="hr-pwinty mt-3" />
			</div>

			<div class="blog-content col-md-10 offset-md-1">
				<div class="col-md-10 offset-md-1" id="content-holder"></div>
			</div>
		</div>
	</div>
	<% } %>
</div>

<a class="lightbox-close" href="#close">
	<div class="lightbox-target" id="expand">
		<img id="expandImg" src="" />
	</div>
</a>

<script>
	let toAppend = "<%= locals.blog.content %>";
	let contentHolder = document.getElementById("content-holder");

	toAppend = toAppend
		.replace(/(\r\n|\n|\r)/gm, "")
		.replace(/&#34;/g, '"')
		.replace(/&lt;/g, "<")
		.replace(/&gt;/g, ">");
	contentHolder.innerHTML = toAppend;

	contentHolder.querySelectorAll("img").forEach(item => {
		item.setAttribute("onclick", "expand(this)");

		let link = document.createElement("a");
		link.innerHTML = item.outerHTML;
		link.setAttribute("href", "#expand");

		item.parentNode.insertBefore(link, item);
		item.remove();
	});
</script>
<script src="/scripts/carousel-cycle.js"></script>
<% include ../partials/footer %>
