<% include ../partials/head %>

<div class="full-container" id="container-cart">
	<div class="container">
		<div class="col-md-10 offset-md-1 p-0">
			<% if (locals.order.status !== "Cancelled" && locals.order.status !== "Submitted" && locals.order.status !== "Completed" && locals.order.status !== "awaitingStripePayment") { %>
			<input type="submit" data-id="<%= locals.order._id %>" class="cancelbtn" value="CANCEL ORDER" />
			<% } %> <% if (locals.order && locals.order.items) { %>
			<h1 class="square-title text-center">Your Order</h1>

			<div class="text-center w-100"></div>
			<div class="payment-div">
				<h3>STATUS - <b><%= locals.order.status %></b></h3>

				<% if (locals.deliveryPriceFormatted != "0.00") { %>
				<h3>SHIPPING FEE - <b><%= locals.deliveryPriceFormatted %>€</b></h3>
				<% } else { %>
				<h3>SHIPPING FEE - <b>FREE</b></h3>
				<% } %>

				<h3>TOTAL - <b><%= locals.order.price %>€</b></h3>
			</div>

			<% if (locals.order.status === "awaitingStripePayment") { %>
			<div class="alert alert-warning alert-static w-100" role="alert">
				This order has not been paid for - <a href="/Payment"><b>Go to CHECKOUT</b></a>
			</div>
			<% } %>
		</div>

		<div class="col-md-10 offset-md-1 mt-2 p-0">
			<div class="cart-row" id="cart-row-header">
				<span class="cart-item cart-header cart-column">ITEM</span>
				<span class="cart-quantity cart-header cart-column">QUANTITY</span>
				<span class="cart-price cart-header cart-column">PRICE</span>
			</div>
			<% Object.keys(locals.products).forEach(function (index) { %>
			<div class="cart-row cart-row-item" id="<%= locals.products[index].item._id %><% if (!locals.products[index].isUnique) { %>-<%= index %><% } %>">
				<div class="cart-item cart-column">
					<% if (locals.products[index].isUnique === true) { %>
					<img class="cart-img" src="/api/image/main/Shop/<%= locals.products[index].item._id %>" alt="Ordered Painting - <%= locals.products[index].item.title %>" />
					<% } else { %>
					<img class="cart-img" src="/api/image/main/Gallery/<%= locals.products[index].item._id %>" alt="Ordered Painting - <%= locals.products[index].item.title %>" />
					<% } %>
					<div class="cart-title-description">
						<h4 class="cart-item-title"><%= locals.products[index].shorttitle %>...</h4>
						<p class="cart-item-description"><%= locals.products[index].shortcontent %>...</p>
						<p><%= locals.products[index].details %></p>
					</div>
				</div>

				<div class="cart-quantity cart-column text-center">
					<h4 class="cart-item-qty"><%= locals.products[index].qty %></h4>
				</div>

				<div class="cart-price cart-column">
					<p class="cart-item-price"><%= locals.products[index].price %>€</p>
					<% if (locals.products[index].isUnique !== true) { %>
					<p class="cart-item-unitprice"><%= locals.products[index].unitPrice %>€/Unit</p>
					<% } %>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</div>

<div class="full-container even" id="container-cart">
	<div class="container">
		<div class="col-md-10 offset-md-1 p-0">
			<h1 class="square-title text-center">Delivery Address</h1>

			<div class="row">
				<div class="col-md-6">
					<label class="control-label">Last Name</label>
					<input id="lastname" name="lastname" placeholder="Doe" value="<% if (locals.order.lastname) { %><%= locals.order.lastname %><% } %>" readonly />
					<span id="i_lastname" class="form-info"><b>Last Name</b> must contain between <b>2 and 128 characters</b></span>
				</div>
				<div class="col-md-6">
					<label class="control-label">First Name</label>
					<input id="firstname" name="firstname" placeholder="John" value="<% if (locals.order.firstname) { %><%= locals.order.firstname %><% } %>" readonly />
					<span id="i_firstname" class="form-info"><b>First Name</b> must contain between <b>2 and 128 characters</b></span>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-md-12">
						<label class="control-label">Address</label>
						<input id="autocomplete" name="fulltext_address" placeholder="Enter your address" value="<% if (locals.order.full_address) { %><%= locals.order.full_address %><% } %>" readonly />
					</div>
				</div>
				<div id="address">
					<div class="row">
						<div class="col-md-12">
							<label class="control-label">Street</label>
							<input id="route" name="street_name" value="<% if (locals.order.full_street) { %><%= locals.order.full_street %><% } %>" readonly />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">City</label>
							<input id="locality" name="city" placeholder="Paris" value="<% if (locals.order.city) { %><%= locals.order.city %><% } %>" readonly />
						</div>
						<div class="col-md-6">
							<label class="control-label">State</label>
							<input id="administrative_area_level_1" name="state" placeholder="Île-de-France" value="<% if (locals.order.state) { %><%= locals.order.state %><% } %>" readonly />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Postal Code</label>
							<input id="postal_code" name="postal_code" placeholder="75001" value="<% if (locals.order.zipcode) { %><%= locals.order.zipcode %><% } %>" readonly />
						</div>
						<div class="col-md-6">
							<label class="control-label">Country</label>
							<input id="country" name="country" placeholder="France" value="<% if (locals.order.country) { %><%= locals.order.country %><% } %>" readonly />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label class="control-label">Additional informations</label>
							<input
								id="instructions"
								name="instructions"
								placeholder="Door code or other useful informations..."
								value="   <% if (locals.order.instructions) { %><%= locals.order.instructions %><% } %>"
								readonly
							/>
						</div>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
	<% include ../partials/footer %>
</div>

<script src="/scripts/order/order.js" defer></script>
