<% include ../partials/head %>

<div class="full-container" id="container-landing">
	<div class="container container-front">
		<% if (locals.shop){ %>
		<div class="col-md-12 content-wrapper" id="<%= locals.shop._id %>">
			<div class="carousel-container">
				<div id="carousel-thumb" class="carousel slide carousel-thumbnails" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<% if (locals.img) { %> <% locals.img.forEach(function (item, index) { %>
						<div class="carousel-item <% if(index == 0) { %>active<% } %>">
							<a href="#expand"><img class="expandable" src="/api/image/<%= item._id %>" alt="<%= index %>slide" /></a>
							<div class="carousel-caption d-none d-md-block"></div>
						</div>
						<% }) %> <% } %>
					</div>
					<!--Controls-->
					<a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
						<span><i class="fas fa-chevron-left fa-4x"></i></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
						<span><i class="fas fa-chevron-right fa-4x"></i></span>
						<span class="sr-only">Next</span>
					</a>
					<!--/.Controls-->
				</div>
			</div>
			<div class="thumbnail-wrapper mb-2 mt-5">
				<ol class="carousel-indicators no-thumb">
					<% if (locals.img) { %> <% locals.img.forEach(function (item, index) { %>
					<li data-target="#carousel-thumb" data-slide-to="<%= index %>" class="<% if(index == 0) { %>active<% } %>">
						<img class="d-block w-100" src="/img/grey_circle.png" alt="grey circle icon thumbnail" class="img-fluid" />
					</li>
					<% }) %> <% } %>
				</ol>
			</div>

			<div class="blog-content col-md-10 offset-md-1 mt-2">
				<h1 class="single-title col-md-12 mb-0">
					<%= locals.shop.title %> <% if (locals.user && locals.user.role === "admin") { %>
					<a href="/Admin/Shop/Patch/<%= locals.shop._id %>"><i class="fas fa-edit"></i></a>
					<% } %>
				</h1>
				<p class="single-content">
					<%= locals.shop.content %>
				</p>
			</div>

			<div class="col-md-4 offset-md-4 text-center mt-2">
				<b class="card-price"><%= locals.shop.price %>€</b>
				<b class="isUnique">Unique Painting</b>
				<input type="submit" data-addcart="<%= locals.shop._id %>" class="submit-btn" value="Add to cart" />
			</div>
			<% } %>
		</div>
	</div>
	<% include ../partials/footer %>
</div>

<a class="lightbox-close" href="#close">
	<div class="lightbox-target" id="expand">
		<img alt="Expanded Image" id="expandImg" src="/api/image/<%= locals.img[0]._id %>" />
	</div>
</a>

<script src="/scripts/cart.js" defer></script>
<script src="/scripts/core/carousel-cycle.js"></script>
<script src="/scripts/core/frontValidation.js" defer></script>
