<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173937073-1"></script>
		<script src="/scripts/analytics.js"></script>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="meta image" property="og:image" content="https://www.maral.fr/img/screencap.png" />
		<meta name="csrf-token" content="<%= locals.csrfToken %>" />
		<meta name="description" content="<%= locals.description %>" />
		<meta name="keywords" content="Art, Arts, Painting, Paintings, Buy, Purchase, Maral, Akbarian, Copy, Replica, Replicas, Copies, Unique, Beautiful, Reproduction, Actress, Peinture, Tableaux" />
		<!-- add keywords -->
		<meta name="author" content="Maral Abkarian" />
		<title><%= (locals.headtitle) ? locals.headtitle : 'Maral' %></title>
		<!-- JQuery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- FontAwesome Icons -->
		<script src="https://kit.fontawesome.com/ba18cbd714.js"></script>
		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<!-- CUSTOM -->
		<link rel="icon" href="/favicon.png" />
		<link rel="stylesheet" href="/style.css" />
		<!-- Quill RTE -->
		<script src="/quill/quill.core.js"></script>
		<script src="/quill/quill.js"></script>

		<link rel="stylesheet" href="/quill/quill.snow.css" />
		<link rel="stylesheet" href="/quill/quill.core.css" />

		<script src="/scripts/core/errorMessages.js"></script>
		<script src="/scripts/core/tools.js" defer></script>
		<script src="/scripts/core/alert.js"></script>
	</head>

	<body>
		<header id="header">
			<div class="hamburger">
				<div class="line line1"></div>
				<div class="line line2"></div>
				<div class="line line3"></div>
			</div>

			<nav class="navbar-container">
				<nav class="navbar-custom">
					<a href="/"><img al="Maral Abkarian Paiting Logo" class="logo" src="/svg/logo_white.svg" /></a>
					<ul class="nav-links">
						<% if (locals.user && locals.user.role === "admin") { %>
						<li>
							<a href="/Admin" class="navbar-text <%= (locals.active && locals.active == 'Admin') ? 'active' : '' %>">ADMIN</a>
						</li>
						<% } %>

						<li>
							<a href="/Galerie" class="navbar-text <%= (locals.active && locals.active == 'Galerie') ? 'active' : '' %>">Gallery</a>
						</li>

						<li>
							<a href="/Shop" class="navbar-text <%= (locals.active && locals.active == 'Shop') ? 'active' : '' %>">Shop</a>
						</li>

						<li>
							<a href="/Catalog" class="navbar-text <%= (locals.active && locals.active == 'Catalog') ? 'active' : '' %>">Catalog</a>
						</li>

						<li>
							<a href="/Blog" class="navbar-text <%= (locals.active && locals.active == 'Blog') ? 'active' : '' %>">Blog</a>
						</li>

						<% if (!locals.user) { %>
						<li>
							<a href="/Login" class="navbar-text <%= (locals.active && locals.active == 'Account') ? 'active' : '' %>">Log in</a>
						</li>
						<% } else { %>
						<li>
							<a href="/User" class="navbar-text <%= (locals.active && locals.active == 'User') ? 'active' : '' %>">Account</a>
						</li>

						<li>
							<a href="/api/auth/logout" class="navbar-text">Log out</a>
						</li>
						<% } %>
						<li id="cart-qty-li">
							<a href="/shopping-cart" class="navbar-text"><i class="fas fa-shopping-cart fa-2x"></i></a>
							<span id="cartQty"><%= (locals.session.cart && locals.session.cart.totalQty) ? locals.session.cart.totalQty : 0 %></span>
						</li>
					</ul>
				</nav>
			</nav>
		</header>

		<div id="cookies-eu-banner" class="nodisplay">
			By continuing to visit this site, you accept the use of cookies and Google Analytics by <b>Maral.fr</b> so that the website can function normally<br />
			<button id="cookies-eu-reject">Reject</button>
			<button id="cookies-eu-accept">Accept</button><br />
			<a href="/legals#RGPD" id="cookies-eu-more"><b>Read more</b></a>
		</div>
		<script src="/scripts/cookies-eu-banner/src/cookies-eu-banner.js"></script>
		<script src="/scripts/cookies-eu-banner/src/customize.js"></script>

		<% if (messages){ %> <% Object.keys(messages).forEach(function (type) { %> <% messages[type].forEach(function (message) { %>
		<div id="alert" class="alert alert-<%= type %>" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<%= message %>
		</div>
		<% }) %> <% }) %> <% } %>
</html>
<script src="/scripts/core/navbar.js" defer></script>
