<% include partials/head %>

<div class="container-with-menu container">
    <div class="row row-height">
      <div class="menu col-3">
        <ul>
          <li><a href="#" onclick="openTab(event, this, 'blog')" class="menu-link active disabled"><i class="fas fa-scroll mr-2"></i> Blog <i class="fas fa-chevron-right chev"></i></a></li>
          <li><a href="#" onclick="openTab(event, this, 'bio')" class="menu-link"><i class="fas fa-address-card mr-2"></i> Biographie <i class="fas fa-chevron-right chev"></i></a></li>
          <li><a href="#" onclick="openTab(event, this, 'contact')" class="menu-link"><i class="fas fa-envelope mr-2"></i> Contact <i class="fas fa-chevron-right chev"></i></a></li>
        </ul>
      </div>
  
      <div id="contact" class="tab col-9 row" style="display: none;">
        <section class="contact-section col-10 offset-1">
            <div class="section-heading">
                <h2>Contact</h2>
                <h5>Nous avons besoin de ces informations pour pouvoir vous répondre...</h5>
                <h6>Sinon, vous pouvez nous envoyer un mail directement à l'adresse <b>Maral.canvas@gmail.com</b></h6>
            </div>
            <form class="mt-5" id="contact" method="POST" action="/api/contact/">
                <div class="row">
                    <div class="col-6">
                        <label class="control-label">Nom</label>
                        <input class="form-control" type="text" name="name" id="name" onkeyup="Validate.String(this, 4, 30);" value="<% if (locals.formData) { %><%= locals.formData.name %><% } %>" required>
                        <span id="i_name" class="form-info"><b>Username</b> must contain between <b>4 and 30 characters</b></span>
                    </div>
                    <div class="col-6">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="email" name="email" id="email" onkeyup="Validate.Email(this);" value="<% if (locals.formData) { %><%= locals.formData.email %><% } %>" required>
                        <span id="i_email" class="form-info"><b>E-mail</b> has to be <b>valid</b></span>
                    </div>
                </div>

                <label class="control-label">Objet</label>
                <input class="form-control" type="text" name="title" id="title" onkeyup="Validate.String(this, 10, 256);" value="<% if (locals.formData) { %><%= locals.formData.subject %><% } %>" required>
                <span id="i_title" class="form-info">Title must contain between 10 and 256 characters</span>
    
                <label class="control-label">Message</label>
                <textarea id="content" onkeyup="Validate.String(this, 64, 2048);" class="instructions-textarea" style="min-height: 175px;" name="content" placeholder="Whatever you wish to tell us..." required><% if (locals.formData) { %><%= locals.formData.content %><% } %></textarea>
                <span id="i_content" class="form-info">Content must contain between 64 and 2048 characters</span>

                <input type="submit" class="logbtn mt-3" value="Envoyer" id="submit-contact">
            </form>
        </section>
      </div>
  
      <div id="bio" class="tab col-9" style="display: none;">
        <section class="bio-section">
            <!--<div class="section-heading mt-3">
                <h2>Maral Abkarian</h2>
            </div>-->
            <div class="biography">
                <div class="bio-square">
                    <img class="square-img" src="https://i.imgur.com/4rBbPSy.png" style="float: left"/>
                    <h1 class="square-title" style="font-size: 40px;">Maral Abkarian</h1>
                    <p class="square-txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum a enim ac iaculis.
                        Aenean pellentesque lorem sollicitudin lobortis elementum. Donec malesuada purus magna, quis cursus erat consectetur et.
                        Morbi eget arcu libero.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum a enim ac iaculis.
                        Aenean pellentesque lorem sollicitudin lobortis elementum. Donec malesuada purus magna, quis cursus erat consectetur et.
                        Morbi eget arcu libero.<br />
                        Donec et gravida erat. Aenean aliquet felis et facilisis faucibus.
                        Praesent id ipsum elementum, vehicula nunc sed, gravida ex.
                        Duis et mi ullamcorper, porta turpis sit amet, lobortis ligula. Praesent eget lacus urna.
                        Praesent id ipsum elementum, vehicula nunc sed, gravida ex.
                        Praesent id ipsum elementum, vehicula nunc sed, gravida ex.
                        Praesent id ipsum elementum, vehicula nunc sed, gravida ex.
                    </p>
                </div>
                <div class="bio-square">
                    <h1 class="square-title">Lorem ipsum dolor sit</h1>
                    <p class="square-txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum a enim ac iaculis.
                        Aenean pellentesque lorem sollicitudin lobortis elementum. Donec malesuada purus magna, quis cursus erat consectetur et.
                        Morbi eget arcu libero.<br />
                        Donec et gravida erat. Aenean aliquet felis et facilisis faucibus.
                        Praesent id ipsum elementum, vehicula nunc sed, gravida ex.
                        Duis et mi ullamcorper, porta turpis sit amet, lobortis ligula. Praesent eget lacus urna.
                        Praesent id ipsum elementum, vehicula nunc sed, gravida ex.
                        Duis et mi ullamcorper, porta turpis sit amet, lobortis ligula.
                    </p class="square-txt">
                </div>
                <div class="bio-square mt-1">
                    <h1 class="square-title">Duis et mi ullamcorper</h1>
                    <p class="square-txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum a enim ac iaculis.
                        Aenean pellentesque lorem sollicitudin lobortis elementum. Donec malesuada purus magna, quis cursus erat consectetur et.
                        Morbi eget arcu libero.<br />
                        Donec et gravida erat. Aenean aliquet felis et facilisis faucibus.
                        Praesent id ipsum elementum, vehicula nunc sed, gravida ex.
                        Duis et mi ullamcorper, porta turpis sit amet, lobortis ligula. Praesent eget lacus urna.
                    </p class="square-txt">
                </div>
                <div class="bio-square mt-1">
                    <h1 class="square-title">Phasellus rutrum a enim ac iaculis.</h1>
                    <p class="square-txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum a enim ac iaculis.
                        Aenean pellentesque lorem sollicitudin lobortis elementum. Donec malesuada purus magna, quis cursus erat consectetur et.
                        Morbi eget arcu libero.<br />
                        Donec et gravida erat. Aenean aliquet felis et facilisis faucibus.
                        Praesent id ipsum elementum, vehicula nunc sed, gravida ex.
                        Duis et mi ullamcorper, porta turpis sit amet, lobortis ligula. Praesent eget lacus urna.
                    </p>
                </div>
            </div>
        </section>
      </div>

      <div id="blog" class="tab col-9">
        <section class="blog-section">
            <script src="/scripts/blog/infiniteBlogs.js"></script>
            <div class="container container-blogx" id="container-blog">
              <% if(locals.blogs){ %>
                <% Object.keys(locals.blogs).forEach(function (index) { %>
                    <!--<div class="row blog-row" id="<%= locals.blogs[index]._id %>">--> 
                    <div class="blog-row" id="<%= locals.blogs[index]._id %>">
                      <h3 class="blog-titlex"><a href="/Blog/<%= locals.blogs[index]._id %>"><%= locals.blogs[index].title %></a></h3> 
                      <% if (locals.blogs[index].mainImgId) { %>
                        <img src="/api/image/<%= locals.blogs[index].mainImgId %>">
                      <% } %>
                      <p class="blog-info">posté par 
                        <b class="blog-author"><%= locals.blogs[index].author %></b>,
                        <i class="blog-date"><%= locals.blogs[index].date %></i>
                      </p>
                      <hr />

                      <div class="blog-overlay-wrapper">
                        <img class="blog-img" src="https://images-na.ssl-images-amazon.com/images/I/61fjVsjuuVL._SL1500_.jpg">
                        <div class="blog-overlay">
                          <p><%= locals.blogs[index].shortcontent %>...</p>
                          <form action="/Blog/<%= locals.blogs[index]._id %>"><button class="blog-btn">Lire plus</button></form>
                        </div>
                      </div>
                    </div>
                    <!-- </div> -->
                <% }) %>
              <% } %>
            </div>
            <div class="col-6 offset-3 mb-3 mt-3">
              <img id="loader" src="/img/loader.gif">
              <input type="submit" class="logbtn" value="Load more" onclick="infiniteBlogs();">
            </div>
        </section>
      </div>
    </div>
</div>

<script>
    function openTab(e, item, tabName) {
      e.preventDefault();
      let menuItems = document.getElementsByClassName("menu-link");
      for (let i = 0; i < menuItems.length; i++) {
            menuItems[i].classList.remove("active");
            menuItems[i].classList.remove("disabled");
      }
      item.classList.add("active");
      item.classList.add("disabled");
      let tab = document.getElementsByClassName("tab");
      for (let i = 0; i < tab.length; i++) {
        tab[i].style.display = "none";  
      }
      document.getElementById(tabName).style.display = "flex";
    }
</script>
<script src="/scripts/formFocus.js"></script>
<script src="/scripts/frontValidation.js"></script>
<% include partials/footer %>