<% include partials/head %>

<div class="container-with-menu container">
	<div class="row row-height">
		<div class="menu menu-login col-xl-3 col-md-2">
			<ul>
				<li>
					<a href="#" onclick="openTab(event, this, 'login')" class="menu-link active disabled">
						<i class="fas fa-sign-in-alt mr-2"></i> <span>Sign up/Log in</span> <i class="fas fa-chevron-right chev"></i
					></a>
				</li>
				<li>
					<a href="#" onclick="openTab(event, this, 'lostpw-container')" class="menu-link"
						><i class="fas fa-key mr-2"></i>
						<span>Lost password</span>
						<i class="fas fa-chevron-right chev"></i
					></a>
				</li>
			</ul>
		</div>

		<div id="login" class="tab col-xl-9 col-md-10 row">
			<div class="container p-0 m-0 h-100" id="container">
				<div class="form-slider-container sign-up-container">
					<form class="form-slider" id="register" onsubmit="submitRegister(event)" method="POST" action="/api/auth/register">
						<h1>Sign up</h1>

						<input placeholder="Jean75" type="text" name="name" id="name" onkeyup="Validate.String(this, 4, 30);" value="<% if (locals.formData) { %><%= locals.formData.name %><% } %>" required />
						<span id="i_name" class="form-info">Username must contain between 4 and 30 characters</span>

						<input
							placeholder="jeandupont@gmail.com"
							type="email"
							name="email"
							id="email"
							onkeyup="Validate.Email(this);"
							value="<% if (locals.formData) { %><%= locals.formData.email %><% } %>"
							required
						/>
						<span id="i_email" class="form-info">E-mail has to be valid</span>

						<input placeholder="Password" type="password" name="password" id="password" onkeyup="Validate.Password(this);" required />
						<span id="i_password" class="form-info">Password must contain between 8 and 256 characters and has to beatleast alphanumeric</span>

						<input placeholder="Password (confirm)" type="password" name="password2" id="password2" onkeyup="Validate.Password2(this);" required />
						<span id="i_password2" class="form-info">Password has to be the same as the one you just entered</span>

						<div class="recaptcha-wrapper"></div>

						<label class="control-label text-center">
							By checking this box I hereby declare that I have read and agree to the <a href="/Legals#tos">Terms of Service</a></a>
						</label>
						<input type="checkbox" name="agree_tos" id="agree_tos" required />
						<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
						<input type="submit" class="logbtn" value="Sign up" id="submit-register" />
					</form>
				</div>

				<div class="form-slider-container sign-in-container">
					<form class="form-slider" id="login-form" method="POST" onsubmit="submitLogin(event)" action="/api/auth/login">
						<h1 class="mb-3">Log in</h1>
						<input placeholder="Email" type="email" id="login-email" name="email" value="<% if (locals.formData) { %><%= locals.formData.email %><% } %>" required />
						<input placeholder="Password" type="password" id="login-pw" name="password" required />

						<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
						<div class="recaptcha-wrapper"></div>
						<input type="submit" class="logbtn" value="Log in" id="submit-login" />
					</form>
				</div>

				<div class="overlay-container">
					<div class="overlay">
						<div class="overlay-panel overlay-left">
							<h1>Welcome!</h1>
							<p>To access your account, please log in using this button</p>
							<button class="ghost" id="signIn">Log in</button>
						</div>
						<div class="overlay-panel overlay-right">
							<h1>No account yet?</h1>
							<p>Create an account in less than a minute</p>
							<button class="ghost" id="signUp">Sign up</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="lostpw-container" class="tab col-xl-9 col-md-10" style="display: none;">
			<div class="container p-0 m-0 h-100">
				<div class="col-md-10 offset-md-1 wrapper lostpw-container">
					<div class="box-lostpw">
						<h1 class="single-title text-center">Password Recovery</h1>
						<div class="alert alert-info alert-static" role="alert">
							We'll send you a mail with instructions to reset your password
						</div>
						<form class="col-md-8 offset-md-2 mt-5" id="lostpw" onsubmit="submitLostpw(event)" method="POST" action="/api/user/lostpw">
							<input placeholder="Email" type="email" id="email-reset" name="email" value="" onkeyup="Validate.Email(this);" required />
							<span id="i_email-reset" class="form-info">E-mail has to be valid</span>

							<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
							<div class="text-center">
								<div class="recaptcha-wrapper"></div>
							</div>
							<input type="submit" class="logbtn" value="Envoyer" id="submit-lostpw" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/scripts/submit-auth.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
<script src="/scripts/frontValidation.js"></script>
<% include partials/footer %>
