<% include partials/head %>

<div class="full-container">
	<div class="container container-front">
		<div class="col-md-10 offset-md-1">
			<h1 class="square-title text-center">Billing Address</h1>
			<form id="deliveryform" method="POST" action="">
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">Last Name</label>
						<input id="lastname" name="lastname" placeholder="Doe" value="<%= locals.billing.lastname %>" data-vstring="2;128" required />
						<span id="i_lastname" class="form-info"><b>Last Name</b> must contain between <b>2 and 128 characters</b></span>
					</div>
					<div class="col-md-6">
						<label class="control-label">First Name</label>
						<input id="firstname" name="firstname" placeholder="John" value="<%= locals.billing.firstname %>" data-vstring="2;128" required />
						<span id="i_firstname" class="form-info"><b>First Name</b> must contain between <b>2 and 128 characters</b></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<label class="control-label">Address</label>
						<input id="autocomplete" name="fulltext_address" data-geolocate="true" placeholder="Enter your address" value="<%= locals.billing.full_address %>" required />
					</div>
				</div>

				<div id="address">
					<div class="row">
						<div class="col-md-12">
							<label class="control-label">Street</label>
							<input id="route" placeholder="13 rue de Clignancourt" name="street_name" value="<%= locals.billing.street_name %>" required />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">City</label>
							<input id="locality" name="city" placeholder="Paris" value="<%= locals.billing.city %>" required />
						</div>
						<div class="col-md-6">
							<label class="control-label">State</label>
							<input id="administrative_area_level_1" name="state" placeholder="Île-de-France" value="<%= locals.billing.state %>" required />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Postal Code</label>
							<input id="postal_code" name="postal_code" placeholder="75001" value="<%= locals.billing.zipcode %>" required />
						</div>
						<div class="col-md-6">
							<label class="control-label">Country</label>
							<input id="country" name="country" placeholder="France" value="<%= locals.billing.country %>" required />
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-6 text-center">
							<label class="control-label col-md-12 text-center">
								By checking this box I hereby declare that I have read and agree to the <a target="_blank" href="/Legals#sales">Terms of Sales</a>
							</label>
							<input type="checkbox" name="agree_tos" id="agree_tos" required />
						</div>
						<div class="col-md-6">
							<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
							<input type="submit" class="submit-btn" value="Save and go to checkout" id="submit-deliveryform" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<% include partials/footer %>
</div>

<script src="/scripts/shop/billing.js" defer></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEBWHg2gKU3uMKQWSvn4yXWV5RavPm1PU&libraries=places&callback=initAutocomplete" async defer></script>
<script src="/scripts/core/auto-complete.js"></script>
<script src="/scripts/core/frontValidation.js" defer></script>
