<% include partials/head %>

<script src="/scripts/infiniteBlogs.js"></script>
<div class="container container-blog" id="container-blog">
  <% if(locals.blogs){ %>
    <% Object.keys(locals.blogs).forEach(function (index) { %>
      <div class="row blog-row" id="<%= locals.blogs[index]._id %>">
        <div class="col-8 offset-2">
          <h3 class="blog-title"><a href="Blog/<%= locals.blogs[index]._id %>"><%= locals.blogs[index].title %></a></h3> 
          <p class="blog-info">posté par 
            <b class="blog-author"><%= locals.blogs[index].author %></b>, <i class="blog-date"><%= locals.blogs[index].date %></i>
          </p>
          <p class="blog-content"><%= locals.blogs[index].content %></p>
        </div>
      </div>
      <hr />
    <% }) %>
  <% } %>
</div>
<div class="col-6 offset-3 mb-3 mt-3">
  <input type="submit" class="logbtn" value="Load more" onclick="infiniteBlogs();">
</div>
  
<% include partials/footer %>