<% include partials/head %>

<script src="https://checkout.stripe.com/checkout.js" ></script>
<script src="/scripts/cart.js"></script>
<script>
  const stripePublicKey = '<%= locals.stripePublicKey %>';
</script>
<!--<script src="scripts/store.js"></script>-->

<div class="container"> 
  <div class="container-cart">
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">ITEM</span>
      <span class="cart-price cart-header cart-column">PRICE</span>
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <% if(locals.products){ %>
      <% Object.keys(locals.products).forEach(function (index) { %>
        <div class="cart-row cart-row-item" id="<%= locals.products[index].item._id %>">
          <div class="cart-item cart-column">
            <img class="cart-img" src="/api/shop/image/<%= locals.products[index].item._id %>" alt="<%= locals.products[index].item.title %>">
            <div class="cart-title-description">
              <h4 class="cart-item-title"><b><%= locals.products[index].item.title %></b></h4>
              <p class="cart-item-description"><%= locals.products[index].item.content %></p>
            </div>
          </div>
              
          <div class="cart-price cart-column ">
            <p class="cart-item-price"><b><%= locals.products[index].price %>€</b></p>
          </div>
              
          <div class="cart-quantity cart-column">
            <i class="fas fa-minus fa-2x qty-update qty-decrease" onclick="cartDel('<%= locals.products[index].item._id %>', this)"></i>
            <h4 class="cart-item-qty"><b><%= locals.products[index].qty %></b></h4><!-- INPUT SELECT QTY HERE //////////////////////////////////////////// with js to check  -->
            <!--<input class="cart-item-qty" type="number" value="<%= locals.products[index].qty %>" name="cart-item-qty">-->
            <% if (locals.products[index].item.isUnique !== true) { %>
              <i class="fas fa-plus fa-2x qty-update qty-increase" onclick="cartAdd('<%= locals.products[index].item._id %>', this)"></i>
            <% } %>
            <!--<a class="qty-update qty-decrease" href="#delete">-</a> 
            <h4 class="cart-item-qty"><%= locals.products[index].qty %></h4>
            <a class="qty-update qty-increase" href="/api/cart/add-to-cart/<%= locals.products[index].item._id %>">+</a>-->
          </div>
      </div>
      <% }) %>
    <% } %>
    <div class="cart-total">
      <% if(locals.totalPrice){ %>
          TOTAL PRICE: <b id="total-price"><%= locals.totalPrice %>€</b>
      <% } %>
      <% if(locals.totalQty){ %>
          NUMBER OF ITEMS: <b id="total-qty"><%= locals.totalQty %></b><br/>
      <% } %>
      <!--<input type="hidden" id="total-price-input" value="<%= locals.totalPrice %>">
      <button class="btn btn-primary btn-purchase" onclick="submitCheckout();" type="button">PURCHASE</button>-->
    </div>

    <% if(locals.isDelivery){ %>
      <div class="panel-heading">
        <h2 class="panel-title">Delivery Informations</h2>
        <h6>*Make sure the informations you enter are correct, we will be using them for delivery</h6>
      </div>
      <div class="panel panel-primary">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Last Name</label>
              <input class="form-control" id="lastname" name="lastname" placeholder="Doe" value="<% if (locals.delivery.lastname) { %><%= locals.delivery.lastname %><% } %>" readonly>
              <span id="i_lastname" class="form-info">Last Name must contain between 2 and 128 characters</span>
            </div>
            <div class="col-md-6">
              <label class="control-label">First Name</label>
              <input class="form-control" id="firstname" name="firstname" placeholder="John" value="<% if (locals.delivery.firstname) { %><%= locals.delivery.firstname %><% } %>" readonly>
              <span id="i_firstname" class="form-info">First Name must contain between 2 and 128 characters</span>
            </div>
          </div>
        <div class="panel-body">
          <label class="control-label">Address</label>        
          <input id="autocomplete" name="fulltext_address" placeholder="Enter your address" class="form-control" value="<% if (locals.delivery.full_address) { %><%= locals.delivery.full_address %><% } %>" readonly>
          <div id="address">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">Route</label>
                <input class="form-control" id="route" name="street_name" value="<% if (locals.delivery.full_street) { %><%= locals.delivery.full_street %><% } %>" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">City</label>
                <input class="form-control field" id="locality" name="city" placeholder="Paris" value="<% if (locals.delivery.city) { %><%= locals.delivery.city %><% } %>" readonly>
              </div>
              <div class="col-md-6"> 
                <label class="control-label">State</label>
                <input class="form-control" id="administrative_area_level_1" name="state" placeholder="Île-de-France" value="<% if (locals.delivery.state) { %><%= locals.delivery.state %><% } %>" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Zip code</label>
                <input class="form-control" id="postal_code" name="postal_code" placeholder="75001" value="<% if (locals.delivery.zipcode) { %><%= locals.delivery.zipcode %><% } %>" readonly>
              </div>
              <div class="col-md-6">
                <label class="control-label">Country</label>
                <input class="form-control" id="country" name="country" placeholder="France" value="<% if (locals.delivery.country) { %><%= locals.delivery.country %><% } %>" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 offset-3">
                <textarea id="instructions" class="blog-textarea mt-2" name="instructions" placeholder="Door code or other useful informations..." readonly><% if (locals.delivery.instructions) { %><%= locals.delivery.instructions %><% } %></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if(locals.totalPrice){ %>
      TOTAL PRICE: <b id="total-price"><%= locals.totalPrice %>€</b>
    <% } %>
    <% if(locals.totalQty){ %>
      NUMBER OF ITEMS: <b id="total-qty"><%= locals.totalQty %></b><br/>
    <% } %>
    <% if(locals.totalPrice){ %>
      <input type="hidden" id="total-price-input" value="<%= locals.totalPrice %>">
      <button class="btn btn-primary btn-purchase" onclick="submitCheckout();" type="button">PURCHASE</button>
    <% } %>
  </div>
</div>


<script>
let stripeHandler = StripeCheckout.configure({
  key: stripePublicKey,
  locale: "auto",
  token: function (token) {
    let items = [];
    let rows = $(".cart-row-item")
        
    for (let i = 0; i < rows.length; i++) { 
      let id = rows[i].id;
      let quantity = parseInt($("div.cart-quantity.cart-column > h4 > b")[i].innerText);
      let price = parseFloat($("div.cart-price.cart-column > p > b")[i].innerText);
      items.push({
        id: id,
        price: price,
        quantity: quantity
      });
    }

    fetch('/api/cart/purchase', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
      body: JSON.stringify({
        stripeTokenId: token.id,
        items: items
      })
    })
    .then((res) => {return res.json();})
    .then((data) => {
      console.log(data);
      //if purchase successfull else dont clear
      window.location.href = "http://localhost:8089/api/cart/clear";
    })
    .catch((err) => {
      console.log(err);
    })
  }
})

function submitCheckout () {
  //check if user is logged in or not
  let isLogged = "<%= locals.name %>";
  let isDelivery = "<%= locals.isDelivery %>";

  //check if user delivery informations exist in database, if not redirect to user settings to make user fill them, else proceeds
  if (isLogged === "") {
    window.location.href= "http://localhost:8089/Login"; //need req message
  } else {
    if (isDelivery === "true") {
      let price = parseFloat(document.getElementById("total-price-input").getAttribute("value")) * 100;
      if (price != 0) {
        stripeHandler.open({
          amount: price,
          currency: "eur"
        })
      }
    } else {
      let alert = `<div id="alert" class="alert alert-info" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        You need to fill your delivery informations <a href="/User">here</a> in order to be able to purchase!
                    </div>`;
      addAlert(alert, "#header");
    }
  }
}
</script>
  
<% include partials/footer %>