<% include partials/head %>

<script src="/scripts/cart.js"></script>
<div class="container container-single">
	<div class="single-wrapper">
		<% if (locals.totalPrice == "0" || locals.totalPrice == "0.00" ) { %>
		<div class="col-md-10 offset-md-1 wrapper">
			<div class="text-center">
				<b class="alertEmpty text-center" id="alertEmpty">Your cart is empty!</b>
			</div>
		</div>

		<% } %> <% if(locals.products && locals.totalPrice != 0 && locals.totalQty != 0){ %> 
		<div class="col-md-10 offset-md-1 p-0">
			<div class="cart-row" id="cart-row-header">
				<span class="cart-item cart-header cart-column">ITEM</span>
				<span class="cart-quantity cart-header cart-column">QUANTITY</span>
				<span class="cart-price cart-header cart-column">PRICE</span>
			</div>
			<% Object.keys(locals.products).forEach(function (index) { %>
			<div class="cart-row cart-row-item" id="<%= locals.products[index].item._id %><% if (!locals.products[index].isUnique) { %>-<%= index %><% } %>">
				<div class="cart-item cart-column">
					<% if (locals.products[index].isUnique === true) { %>
					<img class="cart-img" src="/api/image/main/Shop/<%= locals.products[index].item._id %>" alt="<%= locals.products[index].item.title %>" />
					<% } else { %>
					<img class="cart-img" src="/api/image/main/Gallery/<%= locals.products[index].item._id %>" alt="<%= locals.products[index].item.title %>" />
					<% } %>
					<div class="cart-title-description">
						<h4 class="cart-item-title"><%= locals.products[index].shorttitle %>...</h4>
						<p class="cart-item-description"><%= locals.products[index].shortcontent %>...</p>
						<p><%= locals.products[index].details %></p>
					</div>
				</div>

				<div class="cart-quantity cart-column">
					<% if (locals.products[index].isUnique === true) { %>
					<i class="fas fa-minus fa-2x qty-update" onclick="cartDel('<%= locals.products[index].item._id %>', this)"></i>
					<input id="qty-<%= locals.products[index].item._id %>" class="cart-item-qty" value="<%= locals.products[index].qty %>" name="cart-item-qty" title="Numbers only" readonly />
					<i class="fas fa-plus fa-2x qty-update" min="0" style="color: var(--dark-shade-m1); cursor: default;"></i>
					<% } else { %>
					<i class="fas fa-minus fa-2x qty-update" onclick="pwintyCartDel('<%= locals.products[index].item._id %>', '<%= index %>', this)"></i>
					<input
						id="qty-<%= locals.products[index].item._id %>-<%= index %>"
						class="cart-item-qty "
						value="<%= locals.products[index].qty %>"
						name="cart-item-qty"
						title="Numbers only"
						onchange="pwintyUpdateValue(event, this, '<%= locals.products[index].item._id %>', '<%= index %>')"
					/>
					<i class="fas fa-plus fa-2x qty-update" min="0" onclick="pwintyCartAdd('<%= locals.products[index].item._id %>', '<%= index %>', this)"></i>
					<% } %>
				</div>

				<div class="cart-price cart-column">
					<p class="cart-item-price"><%= locals.products[index].price %>€</p>
					<% if (locals.products[index].isUnique !== true) { %>
					<p class="cart-item-unitprice"><%= locals.products[index].unitPrice %>€/Unité</p>
					<% } %>
				</div>
			</div>

			<% }) %></div> <% } %>


			<div class="col-md-10 offset-md-1 wrapper" style="z-index: 0;">
				<h1 class="single-title text-center">Delivery Informations</h1>
				<div class="alert alert-info alert-static w-100 mb-3" role="alert">
									Make sure these informations are correct, if not, change them <a href="/User">HERE</a>
								</div>
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">Last Name</label>
						<input
							id="lastname"
							name="lastname"
							placeholder="Doe"
							value="<% if (locals.delivery.lastname) { %><%= locals.delivery.lastname %><% } %>"
							onkeyup="Validate.String(this, 2, 128);"
							required
						/>
						<span id="i_lastname" class="form-info"><b>Last Name</b> must contain between <b>2 and 128 characters</b></span>
					</div>
					<div class="col-md-6">
						<label class="control-label">First Name</label>
						<input
							id="firstname"
							name="firstname"
							placeholder="John"
							value="<% if (locals.delivery.firstname) { %><%= locals.delivery.firstname %><% } %>"
							onkeyup="Validate.String(this, 2, 128);"
							required
						/>
						<span id="i_firstname" class="form-info"><b>First Name</b> must contain between <b>2 and 128 characters</b></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
				<label class="control-label">Address</label>
				<input
					id="autocomplete"
					name="fulltext_address"
					placeholder="Enter your address"
					onFocus="geolocate()"
					value="<% if (locals.delivery.full_address) { %><%= locals.delivery.full_address %><% } %>"
					required
				/>
					</div>
				</div>

				<div id="address">
					<div class="row">
						<div class="col-md-12">
							<label class="control-label">Street</label>
							<input id="route" placeholder="13 rue de Clignancourt" name="street_name" value="<% if (locals.delivery.full_street) { %><%= locals.delivery.full_street %><% } %>" required />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">City</label>
							<input id="locality" name="city" placeholder="Paris" value="<% if (locals.delivery.city) { %><%= locals.delivery.city %><% } %>" required />
						</div>
						<div class="col-md-6">
							<label class="control-label">State</label>
							<input id="administrative_area_level_1" name="state" placeholder="Île-de-France" value="<% if (locals.delivery.state) { %><%= locals.delivery.state %><% } %>" required />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Postal Code</label>
							<input id="postal_code" name="postal_code" placeholder="75001" value="<% if (locals.delivery.zipcode) { %><%= locals.delivery.zipcode %><% } %>" required />
						</div>
						<div class="col-md-6">
							<label class="control-label">Country</label>
							<input id="country" name="country" placeholder="France" value="<% if (locals.delivery.country) { %><%= locals.delivery.country %><% } %>" required />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
					<label class="control-label">Additional informations</label>
				<input
					id="instructions"
					name="instructions"
					placeholder="Door code or other useful informations..."
					value="<% if (locals.delivery.instructions) { %><%= locals.delivery.instructions %><% } %>"
					readonly
				/>
				</div>
				</div>

				<% if (locals.totalPrice != 0 && locals.totalQty != 0) { %>
				<div class="col-md-6 offset-md-3 mt-4">
					<div class="payment-div p-3 text-center">
						<% if (locals.deliveryPrice && locals.deliveryPrice.response.shippingPriceIncludingTax) { %>
						<span id="delivery-price-span">Shipping Price - <b id="delivery-price"> <%= locals.deliveryPrice.response.shippingPriceIncludingTax %>€</b></span>
						<% } else { %>
						<span id="delivery-price-span">Shipping Price - <b id="delivery-price">FREE</b></span>
						<% } %>
						<br />

						<span id="total-qty-span">Total Quantity - <b id="total-qty"><%= locals.totalQty %></b></span>
						<br />
				
						<span id="total-price-span">Total Price - <b id="total-price"><%= locals.totalPrice %>€</b></span>
						<a href="/Billing" class="linkbtn"><button class="logbtn" type="button" id="purchase">Go to Payment</button></a>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>

<% if(locals.products){ %> <% Object.keys(locals.products).forEach(function (index) { %> <% if (!locals.products[index].item.price) { %>
<script>
	PWINTY_DATA["<%= index %>"] = {
		SKU: "<%= locals.products[index].attributes.SKU %>",
		attributes: JSON.parse(`<%= locals.products[index].stringifiedAttributes %>`.replace(/&#34;/gi, '"'))
	};
</script>
<% } %> <% }) %> <% } %> <% include partials/footer %>
