<% include partials/head %>

<script src="https://checkout.stripe.com/checkout.js" ></script>
<script>const stripePublicKey = '<%= locals.stripePublicKey %>';</script>
<script src="/scripts/cart.js"></script>

<div class="container container-single"> 
  <div class="blog-row">
    <b id="alertEmpty" <% if (locals.totalPrice != 0) { %> style="display: none;" <% } %>>Your cart is empty!</b>
    <% if(locals.products){ %>
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
      </div>
     
      <% Object.keys(locals.products).forEach(function (index) { %>
        <div class="cart-row cart-row-item" id="<%= locals.products[index].item._id %>">
          <div class="cart-item cart-column">
            <img class="cart-img" src="/api/image/main/Shop/<%= locals.products[index].item._id %>" alt="<%= locals.products[index].item.title %>">
            <div class="cart-title-description">
              <h4 class="cart-item-title"><b><%= locals.products[index].shorttitle %>...</b></h4>
              <p class="cart-item-description"><%= locals.products[index].shortcontent %>...</p>
            </div>
          </div>
              
          <div class="cart-quantity cart-column">
            <i class="fas fa-minus fa-2x qty-update" onclick="cartDel('<%= locals.products[index].item._id %>', this)"></i>
            <% if (locals.products[index].item.isUnique === true) { %>
              <!--<h4 class="cart-item-qty"><b><%= locals.products[index].qty %></b></h4>-->
              <input id="qty-<%= locals.products[index].item._id %>" class="cart-item-qty form-control" value="<%= locals.products[index].qty %>" name="cart-item-qty" title="Numbers only" readonly>
              <i class="fas fa-plus fa-2x qty-update" min="0" style="color: grey; cursor: default;"></i>
            <% } else { %>
              <input id="qty-<%= locals.products[index].item._id %>" class="cart-item-qty form-control" value="<%= locals.products[index].qty %>" name="cart-item-qty" title="Numbers only" onchange="updateValue(event, this)">
              <!-- step="1" min="0" ou 1 max="99" onkeydown="return false; type="number" pattern="[0-9]""-->
              <i class="fas fa-plus fa-2x qty-update" min="0" onclick="cartAdd('<%= locals.products[index].item._id %>', this)"></i>
            <% } %>
          </div>

          <div class="cart-price cart-column">
            <p class="cart-item-price"><b><%= locals.products[index].price %>€</b></p>
          </div>
      </div>
      <% }) %>
    <% } %>

    <% if(locals.isDelivery){ %>
      <div class="panel-heading">
        <h2 class="panel-title">Delivery Informations</h2>
        <h6>Nous utiliserons ces informations pour livrer vos commandes, cliquez <a href="/User">ici</a> pour modifier ces informations</h6>
      </div>
      <div class="panel panel-primary">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Last Name</label>
              <input class="form-control" id="lastname" name="lastname" placeholder="Doe" value="<% if (locals.delivery.lastname) { %><%= locals.delivery.lastname %><% } %>" readonly>
              <span id="i_lastname" class="form-info">Last Name must contain between 2 and 128 characters</span>
            </div>
            <div class="col-md-6">
              <label class="control-label">First Name</label>
              <input class="form-control" id="firstname" name="firstname" placeholder="John" value="<% if (locals.delivery.firstname) { %><%= locals.delivery.firstname %><% } %>" readonly>
              <span id="i_firstname" class="form-info">First Name must contain between 2 and 128 characters</span>
            </div>
          </div>
        <div class="panel-body">
          <label class="control-label">Address</label>        
          <input id="autocomplete" name="fulltext_address" placeholder="Enter your address" class="form-control" value="<% if (locals.delivery.full_address) { %><%= locals.delivery.full_address %><% } %>" readonly>
          <div id="address">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">Route</label>
                <input class="form-control" id="route" name="street_name" value="<% if (locals.delivery.full_street) { %><%= locals.delivery.full_street %><% } %>" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">City</label>
                <input class="form-control field" id="locality" name="city" placeholder="Paris" value="<% if (locals.delivery.city) { %><%= locals.delivery.city %><% } %>" readonly>
              </div>
              <div class="col-md-6"> 
                <label class="control-label">State</label>
                <input class="form-control" id="administrative_area_level_1" name="state" placeholder="Île-de-France" value="<% if (locals.delivery.state) { %><%= locals.delivery.state %><% } %>" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Zip code</label>
                <input class="form-control" id="postal_code" name="postal_code" placeholder="75001" value="<% if (locals.delivery.zipcode) { %><%= locals.delivery.zipcode %><% } %>" readonly>
              </div>
              <div class="col-md-6">
                <label class="control-label">Country</label>
                <input class="form-control" id="country" name="country" placeholder="France" value="<% if (locals.delivery.country) { %><%= locals.delivery.country %><% } %>" readonly>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <textarea id="instructions" class="instructions-textarea" name="instructions" placeholder="Door code or other useful informations..." readonly><% if (locals.delivery.instructions) { %><%= locals.delivery.instructions %><% } %></textarea>
              </div>

              <div class="col-md-6">
                <div class="payment-div p-3">
                  <% if (locals.totalPrice != 0){ %>
                    <span id="total-price-span">TOTAL PRICE: <b id="total-price"><%= locals.totalPrice %>€</b></span>
                  <% } %>
                  <% if (locals.totalQty != 0){ %>
                    <span id="total-qty-span">NUMBER OF ITEMS: <b id="total-qty"><%= locals.totalQty %></b></span>
                  <% } %>
                  <% if (locals.totalPrice != 0){ %>
                    <button class="btn-purchase" onclick="submitCheckout();" type="button" id="purchase">PURCHASE</button>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
   
  </div>
</div>


<script>
  let stripeHandler = StripeCheckout.configure({
  key: stripePublicKey,
  locale: "auto",
  token: function (token) {
    /* calls to purchase API, clears cart and redirects to order if purchase is succesful */
    fetch('/api/cart/purchase', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
      body: JSON.stringify({stripeTokenId: token.id,})
    })
    .then((res) => {return res.json()})
    .then((data) => {
      console.log(data);
      if (data.err === false) {
        window.location.href = `http://localhost:8089/api/cart/clear/${data.id}`;
      } else {
        console.log("Something went wrong with your purchase!");
        throw new Error(data.msg)
      }
    })
    .catch((err) => {
      let alert = `<div id="alert" class="alert alert-info" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        ${err.message}
                    </div>`;
      addAlert(alert, "#header");
    })
  }
})

function submitCheckout () {
  let isLogged = "<%= locals.name %>";
  let isDelivery = "<%= locals.isDelivery %>";

  checkoutCaller(isLogged, isDelivery);
}
</script>
  
<% include partials/footer %>