<% include partials/head %>

<div class="full-container">
	<div class="container">
		<div class="col-md-10 offset-md-1 p-0">
			<div class="text-center">
				<b class="square-title text-center <% if (locals.totalPrice !== '0' && locals.totalPrice != '0.00') { %>nodisplay<% } %>" id="alertEmpty">Your cart is empty!</b>
			</div>
		</div>
		<% if(locals.products && locals.totalPrice != 0 && locals.totalQty != 0){ %>
		<div class="col-md-10 offset-md-1 p-0" data-cartrecap="true">
			<h1 class="square-title text-center">Your Cart</h1>
			<!-- add no display here when emptying cart-->

			<div class="payment-div">
				<h3>
					SHIPPING FEE = <% if (locals.deliveryPrice && locals.deliveryPrice.response.shippingPriceIncludingTax) { %>
					<b data-deliveryprice="true"><%= locals.deliveryPrice.response.shippingPriceIncludingTax %>€</b> <% } else { %>
					<b data-deliveryprice="true">FREE</b>
				</h3>
				<% } %>
				<h3>TOTAL QTY = <b data-totalqty="true"><%= locals.totalQty %></b></h3>
				<h3>TOTAL = <b data-totalprice="true"><%= locals.totalPrice %> €</b></h3>
			</div>
			<!--<div class="payment-div">
					<% if (locals.deliveryPrice && locals.deliveryPrice.response.shippingPriceIncludingTax) { %>
					<h4><%= locals.deliveryPrice.response.shippingPriceIncludingTax %>€</h4>
					<% } else { %>
					<h4>FREE</h4>
					<% } %>
					<h4><%= locals.totalQty %></h4>
					<h4><%= locals.totalPrice %> €</h4>
				</div>-->
			<!--
				<div class="cart-row">
					<span class="cart-item cart-header cart-column">SHIPPING FEE</span>
					<span class="cart-quantity cart-header cart-column">TOTAL QTY</span>
					<span class="cart-price cart-header cart-column">TOTAL €</span>
				</div>
				<div class="cart-row">
					<% if (locals.deliveryPrice && locals.deliveryPrice.response.shippingPriceIncludingTax) { %>
					<span class="cart-item cart-header cart-column"><%= locals.deliveryPrice.response.shippingPriceIncludingTax %>€</span>
					<% } else { %>
					<span class="cart-item cart-header cart-column">FREE</span>
					<% } %>
					<span class="cart-quantity cart-header cart-column"><%= locals.totalQty %></span>
					<span class="cart-price cart-header cart-column"><%= locals.totalPrice %> €</span>
				</div>
				-->

			<div class="cart-row" id="cart-row-header">
				<span class="cart-item cart-header cart-column">ITEM</span>
				<span class="cart-quantity cart-header cart-column">QUANTITY</span>
				<span class="cart-price cart-header cart-column">PRICE</span>
			</div>
			<% Object.keys(locals.products).forEach(function (index) { %>
			<div class="cart-row cart-row-item" id="<%= locals.products[index].item._id %><% if (!locals.products[index].isUnique) { %>-<%= index %><% } %>">
				<div class="cart-item cart-column">
					<% if (locals.products[index].isUnique === true) { %>
					<img class="cart-img" src="/api/image/main/Shop/<%= locals.products[index].item._id %>" alt="Cart Image = <%= locals.products[index].item.title %>" />
					<% } else { %>
					<img class="cart-img" src="/api/image/main/Gallery/<%= locals.products[index].item._id %>" alt="Cart Image = <%= locals.products[index].item.title %>" />
					<% } %>
					<div class="cart-title-description">
						<h4 class="cart-item-title"><%= locals.products[index].shorttitle %>...</h4>
						<p class="cart-item-description"><%= locals.products[index].shortcontent %>...</p>
						<p><%= locals.products[index].details %></p>
					</div>
				</div>

				<div class="cart-quantity cart-column">
					<% if (locals.products[index].isUnique == true) { %>
					<i class="fas fa-minus fa-2x qty-update" data-delcart="<%= locals.products[index].item._id %>"></i>
					<input id="qty-<%= locals.products[index].item._id %>" class="cart-item-qty" value="<%= locals.products[index].qty %>" name="cart-item-qty" title="Numbers only" readonly disabled />
					<i class="fas fa-plus fa-2x qty-update plus-unique" min="0"></i>
					<% } else { %>
					<i class="fas fa-minus fa-2x qty-update" data-pdel="true" data-id="<%= locals.products[index].item._id %>" data-reference="<%= index %>"></i>
					<input
						id="qty-<%= locals.products[index].item._id %>-<%= index %>"
						class="cart-item-qty"
						value="<%= locals.products[index].qty %>"
						name="cart-item-qty"
						title="Numbers only"
						data-pupd="true"
						data-id="<%= locals.products[index].item._id %>"
						data-reference="<%= index %>"
					/>
					<i class="fas fa-plus fa-2x qty-update" min="0" data-padd="true" data-id="<%= locals.products[index].item._id %>" data-reference="<%= index %>"></i>
					<% } %>
				</div>

				<div class="cart-price cart-column">
					<p class="cart-item-price" id="price-<%= locals.products[index].item._id %>-<%= index %>"><%= locals.products[index].price %> €</p>
					<% if (locals.products[index].isUnique !== true) { %>
					<p class="cart-item-unitprice"><%= locals.products[index].unitPrice %> €/Unit</p>
					<% } %>
				</div>
			</div>

			<% }) %> <% if (locals.totalPrice != 0 && locals.totalQty != 0) { %> <% } %>

			<div class="payment-div" data-cartrecap="true">
				<h3>
					SHIPPING FEE = <% if (locals.deliveryPrice && locals.deliveryPrice.response.shippingPriceIncludingTax) { %>
					<b data-deliveryprice="true"><%= locals.deliveryPrice.response.shippingPriceIncludingTax %>€</b> <% } else { %>
					<b data-deliveryprice="true">FREE</b>
				</h3>
				<% } %>
				<h3>TOTAL QTY = <b data-totalqty="true"><%= locals.totalQty %></b></h3>
				<h3>TOTAL = <b data-totalprice="true"><%= locals.totalPrice %> €</b></h3>
			</div>
		</div>
		<% } %>
	</div>
</div>

<div class="full-container even" id="container-cart">
	<div class="container">
		<div class="col-md-10 offset-md-1 p-0">
			<h1 class="square-title text-center">Delivery Informations</h1>
			<div class="alert alert-info alert-static w-100 mb-3" role="alert">Make sure these informations are correct, if not <a href="/User" target="_blank">change your delivery address</a></div>
			<div class="row">
				<div class="col-md-6">
					<label class="control-label">Last Name</label>
					<input id="lastname" name="lastname" placeholder="Doe" value="<% if (locals.delivery.lastname) { %><%= locals.delivery.lastname %><% } %>" required disabled />
					<span id="i_lastname" class="form-info"><b>Last Name</b> must contain between <b>2 and 128 characters</b></span>
				</div>
				<div class="col-md-6">
					<label class="control-label">First Name</label>
					<input id="firstname" name="firstname" placeholder="John" value="<% if (locals.delivery.firstname) { %><%= locals.delivery.firstname %><% } %>" required disabled />
					<span id="i_firstname" class="form-info"><b>First Name</b> must contain between <b>2 and 128 characters</b></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label class="control-label">Address</label>
					<input
						id="autocomplete"
						name="fulltext_address"
						placeholder="Enter your address"
						value="<% if (locals.delivery.full_address) { %><%= locals.delivery.full_address %><% } %>"
						required
						disabled
					/>
				</div>
			</div>

			<div id="address">
				<div class="row">
					<div class="col-md-12">
						<label class="control-label">Street</label>
						<input id="route" placeholder="13 rue de Clignancourt" name="street_name" value="<% if (locals.delivery.street_name) { %><%= locals.delivery.street_name %><% } %>" required disabled />
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">City</label>
						<input id="locality" name="city" placeholder="Paris" value="<% if (locals.delivery.city) { %><%= locals.delivery.city %><% } %>" required disabled />
					</div>
					<div class="col-md-6">
						<label class="control-label">State</label>
						<input id="administrative_area_level_1" name="state" placeholder="Île-de-France" value="<% if (locals.delivery.state) { %><%= locals.delivery.state %><% } %>" required disabled />
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">Postal Code</label>
						<input id="postal_code" name="postal_code" placeholder="75001" value="<% if (locals.delivery.zipcode) { %><%= locals.delivery.zipcode %><% } %>" required disabled />
					</div>
					<div class="col-md-6">
						<label class="control-label">Country</label>
						<input id="country" name="country" placeholder="France" value="<% if (locals.delivery.country) { %><%= locals.delivery.country %><% } %>" required disabled />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="control-label">Additional informations</label>
					<input
						id="instructions"
						name="instructions"
						placeholder="Door code or other useful informations..."
						value="<% if (locals.delivery.instructions) { %><%= locals.delivery.instructions %><% } %>"
						readonly
						disabled
					/>
				</div>
			</div>

			<% if (locals.totalPrice != 0 && locals.totalQty != 0) { %>

			<div class="col-md-12 p-0">
				<a href="/Billing" class="linkbtn"><button class="submit-btn" type="button" id="purchase">Go to Payment</button></a>
			</div>
			<% } %>
		</div>
	</div>
	<% include partials/footer %>
</div>

<% if(locals.products){ %> <% Object.keys(locals.products).forEach(function (index) { %> <% if (!locals.products[index].item.price) { %>
<input type="hidden" data-index="<%= index %>" data-sku="<%= locals.products[index].attributes.SKU %>" data-attributes="<%= locals.products[index].stringifiedAttributes %>" />
<% } %> <% }) %> <% } %>

<script src="/scripts/cart.js" defer></script>
