<% include partials/head %>

<script src="/scripts/infiniteGalleries.js"></script>
<script src="/scripts/cart.js"></script>
<div class="container">
    <% if (locals.level && locals.level > 1) { %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <a href="/Galerie/Post">post gallery item</a>
      </div>
    <% } %>
    <div class="container-gallery" id="container-gallery">
          <% if(locals.galleries){ %>
            <% Object.keys(locals.galleries).forEach(function (index) { %>
              <div class="card" id="<%= locals.galleries[index]._id %>">
                <a href="#expand"><img onclick="expand(this);" src="/api/gallery/image/<%= locals.galleries[index]._id %>" class="card-img-top" alt="<%= locals.galleries[index].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><i><a href="Galerie/<%= locals.galleries[index]._id %>"><%= locals.galleries[index].title %></a></i></h5>
                  <p class="card-text gallery-description"><%= locals.galleries[index].content %></p>
                  <p class="card-text">
                    <% locals.galleries[index].tags.forEach(function (tag) { %>
                      <a href="#<%= tag %>">#<%= tag %></a>
                    <% }) %>
                  </p>
                </div>
              </div>
            <% }) %>
          <% } %>
    </div>
    <div class="col-6 offset-3 mb-3 mt-3">
      <input type="submit" class="logbtn" value="Load more" onclick="infiniteGalleries();">
    </div>
</div>

<script>
  function expand(image){
    let expand = $("#expandImg");
    expand.src = image.src;
    expand.attr("src", image.src);
  }
</script>
<% include partials/footer %>

<a class="lightbox-close" href="#close">
  <div class="lightbox-target" id="expand">
    <img id="expandImg" src="/api/gallery/image/<%= locals.galleries[0]._id %>"/>
  </div>
</a>