<% include partials/head %>

<div class="anchor-list">
	<div class="col-md-6 offset-md-3">
		<ul class="nav-anchor w-100" id="top-menu">
			<li><a href="#header" class="anchor-text active">Home</a></li>
			<li><a href="#container-bio" class="anchor-text">About</a></li>
			<li><a href="#container-contact" class="anchor-text">Contact</a></li>
			<li><a href="#container-social" class="anchor-text">Social</a></li>
		</ul>
	</div>
</div>

<div class="full-container">
	<div class="container container-front pb-0 mb-0">
		<div class="carousel-home">
			<div id="carousel-thumb" class="carousel slide carousel-thumbnails" data-ride="carousel">
				<!--Slides-->
				<div class="carousel-inner" role="listbox">
					<% if (locals.front) { %> <% i = 0; %> <% for (let index = 0; index < 5; index++) { %> <% if (locals.front[index] && locals.front[index].null != true) { %>
					<div class="carousel-item <% if(index == 0) { %>active<% } %>">
						<a href="#expand"><img class="w-100 expandable" src="/api/front/image/<%= locals.front[index]._id %>" alt="<%= i %>slide" /></a>
					</div>
					<% i = i + 1; %> <% } %> <% } %> <% } else { %>
					<div class="text-center m-5 p-5 bwhite">
						<h1>Home page is under maintenance, please come back later</h1>
					</div>
					<% } %>
				</div>
				<!--/.Slides-->
				<!--Controls-->
				<a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
					<span><i class="fas fa-chevron-left fa-4x"></i></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
					<span><i class="fas fa-chevron-right fa-4x"></i></span>
					<span class="sr-only">Next</span>
				</a>
				<!--/.Controls-->
			</div>
		</div>
		<h1 class="square-title text-center">Want to see more?</h1>
		<input type="submit" class="submit-btn call-btn" value="Take me to the Gallery" id="goto-gallery" />

		<div class="scroll-indicator"></div>
	</div>
</div>

<div class="full-container even" id="container-bio">
	<div class="container container-front">
		<div class="biography wrapper pb-0 pt-4">
			<div class="bio-img-wrapper col-md-4 z-0">
				<div class="sub-img-wrapper mt-5">
					<img alt="Biography Picture - Portrait Image" class="bio-img w-100" src="/img/upload/biopic.png" />
				</div>
			</div>
			<div class="first-bio col-md-8">
				<h1 class="square-title">Maral Abkarian</h1>
				<p class="square-txt ml-3">
					Née durant la seconde moitié du XXème siècle, élevée entre Orient du Levant et Occident tricolore, établie sur trois continents, Maral a dans la continuité de ses ancêtres déracinés de leur
					terre natale par le génocide arménien en 1915, vécu dans différentes contrées à travers le monde.
				</p>
				<p class="square-txt ml-3">
					C’est sous un beau jour printanier d’avril, qu’à peine sa mère débarqua au port de la cité phocéenne, faisant ses adieux à son Liban natal, qu’elle vit le jour. Dès son plus jeune âge, elle
					fut remarquée pour son talent artistique et sa sensibilité, raflant régulièrement les premiers prix des concours artistiques scolaires, derrière son sourire timide et un caractère espiègle.
				</p>
			</div>
			<div class="bio-body col-md-10 offset-md-1">
				<p class="square-txt">
					Le temps passa et la petite fille grandissante devint une adolescente en fleur au pays des cèdres, contrée d’accueil de ses parents natals. Mais les nuages obscures s’étendant, la guerre
					civile plongea le chaos, obligeant la fratrie à fuir vers la Syrie, s’envolant à nouveau vers les terres d’exil, jusqu’en Amérique.
				</p>
				<p class="square-txt">
					De retour finalement en France, Maral a de ses carnets de voyages cultivé une riche expérience de cultures très diverses, française, anglo-saxonne, arabo-levantine, arméno-anatolienne et
					hellénique.
				</p>
				<p class="square-txt">
					Sa quête artistique est celle d’un beau naturel, dépouillé vers une authenticité directe et accessible à tous, à l’image de son hypersensibilité, spirituelle. Les figures gracieuses, le
					partage et l’âpreté de la vie humaine sont mises à nues dans son travail, tantôt figuratif, tantôt semi-abstrait, avec le goût du relief et d’un toucher parfois brut, non sans délicatesse.
				</p>
				<p class="square-txt">
					Son goût pour les portraits et les paysages apparaissent régulièrement, témoignant également d’une innocence, sensualité, fraîcheur perdue à notre époque de plus en plus connectée. L’ancien
					et le moderne, l’occidental et l’oriental, le spirituel et le terrestre, la vie et l’au-delà, thèmes complémentaires que Maral aime exprimer à travers ses œuvres, un message d’espoir et
					joie, de profondeur, parfois teinté de mélancolie face aux contingences qu’endure l’humain.
				</p>
				<p class="square-txt">
					Soeur de l'acteur Simon Abkarian, Maral Abkarian développe désormais une carrière d'actrice, également connue pour ses talents de gastronome, à la personnalité démonstrative et chaleureuse,
					non sans pudeur, seule sœur de ses trois frères.
				</p>
			</div>
			<input type="submit" class="submit-btn call-btn" value="Take me to your Blog" id="goto-blog" />
		</div>
	</div>
</div>

<div class="full-container" id="container-contact">
	<div class="container container-front">
		<div class="contact wrapper">
			<h1 class="square-title text-center">Get in touch</h1>
			<form class="col-md-10 offset-md-1 mt-4" id="contact" method="POST" action="/api/contact/">
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">Name</label>
						<input placeholder="Jean Dupont" type="text" name="name" id="name" data-vstring="4;30" value="<% if (locals.formData) { %><%= locals.formData.name %><% } %>" required />
						<span id="i_name" class="form-info"><b>Username</b> must contain between <b>4 and 30 characters</b></span>
					</div>
					<div class="col-md-6">
						<label class="control-label">Email</label>
						<input placeholder="jeandupont@gmail.com" type="email" name="email" id="email" data-vemail="true" value="<% if (locals.formData) { %><%= locals.formData.email %><% } %>" required />
						<span id="i_email" class="form-info"><b>E-mail</b> has to be <b>valid</b></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<label class="control-label">Object</label>
						<input
							placeholder="Hey, I found your painting really great..."
							type="text"
							name="title"
							id="title"
							data-vstring="10;256"
							value="<% if (locals.formData) { %><%= locals.formData.subject %><% } %>"
							required
						/>
						<span id="i_title" class="form-info"><b>Title</b> must contain between <b>10 and 256 characters</b></span>
					</div>

					<div class="col-md-12">
						<label class="control-label">Message</label>
						<textarea class="mb-0" id="content" data-vstring="64;2048" rows="5" name="content" placeholder="Write your message here...." required>
<% if (locals.formData) { %><%= locals.formData.content %><% } %></textarea
						>
						<span id="i_content" class="form-info"><b>Content</b> must contain between <b>64 and 2048 characters</b></span>
					</div>
				</div>

					<input type="submit" class="submit-btn" value="Send" id="submit-contact" />
				</div>
				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
			</form>
		</div>
	</div>
</div>

<div class="full-container even" id="container-social">
	<div class="container container-front">
		<h1 class="square-title text-center">Social Medias</h1>
		<ul class="footer-list text-center">
			<li>
				<a href="https://www.instagram.com/maral.abk/" class="social-btn" target="_blank"><i class="fab fa-instagram"></i></a>
			</li>
			<li>
				<a href="https://www.facebook.com/abkarian.maral/" class="social-btn" target="_blank"><i class="fab fa-facebook-f"></i></a>
			</li>
			<li>
				<a href="https://www.pinterest.fr/MaralAbkarian1/" class="social-btn" target="_blank"><i class="fab fa-pinterest-p"></i></a>
			</li>
		</ul>
	</div>
	<% include partials/footer %>
</div>

<a class="lightbox-close" href="#close">
	<div class="lightbox-target" id="expand">
		<img alt="Expanded Image" id="expandImg" src="" />
	</div>
</a>

<script src="/scripts/submit-contact.js" defer></script>
<script src="/scripts/core/frontValidation.js" defer></script>
<script src="/scripts/core/carousel-cycle.js"></script>
