<% include partials/head %>

<script src="/scripts/infiniteShops.js"></script>
<script src="/scripts/cart.js"></script>
<div class="container-fluid">
    <div class="container">
        <button class="w3-bar-item w3-button active" onclick="openTab('original')">Original</button>
        <button class="w3-bar-item w3-button" onclick="openTab('print')">Print</button>
        <div class="container-gallery" id="container-gallery">
            <div id="original" class="tab container-gallery">
              <% if (locals.original){ %>
                <% Object.keys(locals.original).forEach(function (index) { %>
                  <% if (locals.original[index].isUnique) { %>
                  <div class="card" id="<%= locals.original[index]._id %>">
                    <a href="#expand"><img onclick="expand(this);" src="/api/image/<%= locals.original[index].mainImgId %>" class="card-img-top" alt="<%= locals.original[index].title %>"></a>
                    <div class="card-body">
                      <h5 class="card-title"><i><a href="Shop/<%= locals.original[index]._id %>"><%= locals.original[index].title %></a></i></h5>
                      <p class="card-text gallery-description"><%= locals.original[index].content %></p>
                      <p class="card-text">
                          <b><%= locals.original[index].price %>€</b><br />
                          <% if (locals.original[index].isUnique) { %>
                              <b>Toile unique</b>
                          <% } %>
                      </p>
                      <input type="submit" class="logbtn" value="Add to cart" onclick="cartAdd('<%= locals.original[index]._id %>', this)">
                    </div>
                  </div>
                  <% } %>
                <% }) %>
              <% } %>
          </div>
          <div id="print" class="tab container-gallery" style="display:none">
              <% if(locals.print){ %>
                <% Object.keys(locals.print).forEach(function (index) { %>
                  <% if (!locals.print[index].isUnique) { %>
                  <div class="card" id="<%= locals.print[index]._id %>">
                    <a href="#expand"><img onclick="expand(this);" src="/api/image/<%= locals.print[index].mainImgId %>" class="card-img-top" alt="<%= locals.print[index].title %>"></a>
                    <div class="card-body">
                      <h5 class="card-title"><i><a href="Shop/<%= locals.print[index]._id %>"><%= locals.print[index].title %></a></i></h5>
                      <p class="card-text gallery-description"><%= locals.print[index].content %></p>
                      <p class="card-text">
                          <b><%= locals.print[index].price %>€</b><br />
                          <% if (locals.print[index].isUnique) { %>
                              <b>Toile unique</b>
                          <% } %>
                      </p>
                      <input type="submit" class="logbtn" value="Add to cart" onclick="cartAdd('<%= locals.print[index]._id %>', this)">
                    </div>
                  </div>
                  <% } %>
                <% }) %>
              <% } %>
          </div>
          </div>
      </div>
      <div class="col-6 offset-3 mb-3 mt-3">
        <input id="load" type="submit" class="logbtn" value="Load more" onclick="infiniteShopItems('original');">
      </div>
    </div>
</div>
<script>
    function expand(image){
      let expand = $("#expandImg");
      expand.src = image.src;
      expand.attr("src", image.src);
    }
    function openTab(tabName) {
      let tab = document.getElementsByClassName("tab");
      for (let i = 0; i < tab.length; i++) {
        tab[i].style.display = "none";  
      }
      document.getElementById(tabName).style.display = "grid";
      document.getElementById("load").setAttribute("onclick", `infiniteShopItems("${tabName}");`);
    }
</script>
  
<% include partials/footer %>

<a class="lightbox-close" href="#close">
  <div class="lightbox-target" id="expand">
    <img id="expandImg" src="/api/image/<%= locals.print[0].mainImgId %>"/>
  </div>
</a>