<% include partials/head %>

<script src="/scripts/cart.js"></script>
<div class="container">
  <div id="single-gallery">
    <% if (locals.shopItem){ %>
        <div class="card" id="<%= locals.shopItem._id %>">
            <a href="#expand"><img onclick="expand(this);" src="/api/shop/image/<%= locals.shopItem._id %>" class="card-img-top" alt="<%= locals.shopItem.title %>"></a>
            <div class="card-body">
                <h5 class="card-title"><i><a href="Shop/<%= locals.shopItem._id %>"><%= locals.shopItem.title %></a></i></h5>
                <% if (locals.level && locals.level > 1) { %>
                    <a href="/Admin/Shop/Patch/<%= locals.shopItem._id %>"><i class="fas fa-edit"></i></a>
                <% } %>
                <p class="card-text gallery-description"><%= locals.shopItem.content %></p>
                <p class="card-text">
                    <%= locals.shopItem.price %>€<br />
                    <% if (locals.shopItem.isUnique) { %>
                        <b>Toile unique</b>
                    <% } %>
                </p>
                <input type="submit" class="logbtn" value="Add to cart" onclick="cartAdd('<%= locals.shopItem._id %>', this)">
            </div>
        </div>
    <% } %>
  </div>
</div>
<script src="/scripts/frontValidation.js"></script>
<script src="/scripts/formFocus.js"></script>
  
<% include partials/footer %>

<a class="lightbox-close" href="#close">
    <div class="lightbox-target" id="expand">
        <img id="expandImg" src="/api/shop/image/<%= locals.shopItem._id %>"/>
    </div>
</a>