<% include partials/head %>

<script src="/scripts/core/bootstrap-tagsinput.js"></script>
<script src="/scripts/cart.js"></script>

<div>
	<form class="col-md-6 offset-md-3 mb-4" id="tags" method="GET" action="/Galerie/tags" onkeypress="preventEnter(event, this)" data-posttags="true">
		<label class="search-label control-label cwhite">Filter by tags</label>
		<input type="text" placeholder="Enter tags then press enter..." value="" data-role="tagsinput" id="tagInput" />
		<span data-placeholder="Tags"></span>

		<input type="submit" class="logbtn mb-2 mt-0" value="Filter" id="submit-tags" />
	</form>
</div>
<div class="container gallery-mode">
	<div class="container-gallery" id="container-gallery">
		<% if(locals.galleries){ %> <% Object.keys(locals.galleries).forEach(function (index) { %>
		<div class="expandable-card" id="<%= locals.galleries[index]._id %>">
			<div class="face face1 blog-overlay-wrapper mt-0">
				<a href="#expand">
					<img src="/api/image/<%= locals.galleries[index].mainImgId %>" class="w-100 expandable" alt="<%= locals.galleries[index].title %>" />
				</a>

				<div class="blog-overlay expandable" data-id="<%= locals.galleries[index]._id %>" data-isGallery="true">
					<h4>
						<i><a href="/Galerie/<%= locals.galleries[index]._id %>"><%= locals.galleries[index].shorttitle %></a></i>
					</h4>
					<div class="gallery-tags mt-2">
						<% locals.galleries[index].tags.forEach(function (tag) { %>
						<a href="/Galerie/Tags?t=<%= tag %>">#<%= tag %></a>
						<% }) %>
					</div>
					<form action="/Galerie/<%= locals.galleries[index]._id %>"><button class="blog-btn">See More</button></form>
				</div>
			</div>
		</div>
		<% }) %> <% } %>
	</div>
	<% if (!locals.error) { %>
	<div class="col-md-6 offset-md-3 mb-3 mt-3">
		<img id="loader" src="/img/loader.gif" />
		<input id="infinitebtn" type="submit" class="logbtn" value="Load more" />
	</div>
	<% } %>
</div>

<a class="lightbox-close" href="#close">
	<div class="lightbox-target" id="expand">
		<% if(locals.galleries){ %>
		<img id="expandImg" src="/api/image/<%= locals.galleries[0].mainImgId %>" />
		<% } %>
	</div>
</a>

<input id="tagscontent" type="hidden" value="<%= locals.tags %>" />
<script src="/scripts/gallery/tags.js" defer></script>
<script src="/scripts/gallery/infiniteTags.js" defer></script>
<% include partials/footer %>
