<% include ../partials/head %>

<div class="container container-single"> 
    <div class="single-wrapper col-8 offset-2">
        <h1 class="single-title">Modifier un ticket de blog</h1>
        <form class="col-8 offset-2" id="blog" method="POST" action="/api/blog/patch/<%= locals.blogContent.id %>" enctype="multipart/form-data">
            <hr />
            <div class="form-group">
                <label class="control-label">Titre</label>
                <input class="form-control" type="text" name="title" id="title" placeholder="Titre" value="<%= locals.blogContent.title %>" onkeyup="Validate.String(this, 1, 256);" required>
                <span id="i_title" class="form-info">Title must contain between 1 and 256 characters</span>
            </div>

            <div class="form-group">
                <div id="editor" style="background-color: white;" onkeyup="saveContent()"></div>
                <input type="hidden" name="content" id="content">
                <span id="i_content" class="form-info">Content must contain between 128 and 4096 characters</span>
            </div>

            <div class="form-group">
                <div class="form-group text-center">
                    <label for="img" id="imglabel" class="filebtn">Choisir des images</label>
                    <input class="inputfile" type="file" name="img" id="img" onchange="readURL(this)" multiple>
                </div>
                <% if (locals.img) { %>
                    <% locals.img.forEach(function (item) { %>
                        <img class="w-100 m-1" id="<%= item._id %>" src="http://localhost:8089/api/image/<%= item._id %>">
                        <div id="actDiv<%= item._id %>" class="action-div" <% if (item.isMain === true) { %>style="display:none"<% } %>>
                            <a id="del<%= item._id %>" onclick="deleteImage(event, this);" href="http://localhost:8089/api/image/delete/<%= item._id %>"><i class="fas fa-trash-alt"></i></a>
                            <a id="sel<%= item._id %>" class="select-main" onclick="setMain(event, this);" href="http://localhost:8089/api/image/select/Blog/<%= locals.blogContent.id %>/<%= item._id %>" <% if (item.isMain === true) { %>style="display:none"<% } %>><i class="fas fa-star"></i></a>
                        </div>
                    <% }) %>
                <% } %>
            </div>

            <input type="submit" class="logbtn" value="Mettre à jour" id="submit-blog">
        </form>
        <form class="col-8 offset-2 mt-4" method="GET" action="/api/blog/delete/<%= locals.blogContent.id %>">
            <input type="submit" class="delbtn" value="SUPPRIMER DEFINITIVEMENT" id="delete-blog">
        </form>
    </div>

<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],
        ['link', 'image'],
        ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions,
        },
        placeholder: "Your blog article...",
        theme: 'snow'
    });

    let toAppend = "<%= locals.blogContent.content %>";
    toAppend = toAppend.replace(/(\r\n|\n|\r)/gm,"").replace(/&#34;/g, '"').replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    let delta = quill.clipboard.convert(toAppend);
    quill.setContents(delta, 'silent');

    <% if (locals.formData) { %>
        toAppend = "<%= locals.formData.content %>";
        toAppend = toAppend.replace(/(\r\n|\n|\r)/gm,"").replace(/&#34;/g, '"').replace(/&lt;/g, "<").replace(/&gt;/g, ">");
        delta = quill.clipboard.convert(toAppend);
        quill.setContents(delta, 'silent');
    <% } %>
    
    const saveButton = document.getElementById('submit-blog');
    const editorData = document.getElementById('content');

    saveButton.addEventListener('click', (event) => {
        editorData.value = quill.root.innerHTML;
    })

    function saveContent() {
        editorData.value = quill.root.innerHTML;
        Validate.String(editorData, 128, 4096);
    }

</script>
<script src="/scripts/blog/blogScripts.js"></script>
<script src="/scripts/frontValidation.js"></script>
</div>
  
<% include ../partials/footer %>