<% include ../partials/head %>

<div class="container"> 
    <div class="form-container gallery-form">
        <h1 class="form-title">Modifier les images de l'accueil</h1>
        <% if (locals.front) { %>
            <% for (var index = 0; index < 5; index++) { %>
                <% if (locals.front[index]) { %>
                    <form name="upload<%= index %>" action="/api/front/post" method="POST" enctype="multipart/form-data" class="text-center front-form">
                        <div class="form-group" id="uploadGroup<%= index %>">
                            <label for="upload<%= index %>" class="btn btn-outline-warning">Select an image</label>
                            <input type="file" name="img" id="upload<%= index %>" class="inputfile" onchange="readURL(this);">
                        </div>
                        <img id="image<%= index %>" src="http://localhost:8089/api/front/image/<%= locals.front[index]._id %>" style="width: 100%; height: auto;" alt="uploadedImg" data-uploaded="true">
                        <div class="form-group text-center">
                            <button id="delete<%= index %>" onclick="deleteImage(this, event);" class="btn btn-outline-warning">Replace</button>
                        </div>
                        <input type="hidden" name="referenceId" value="<%= index %>">
                        <div id="uploadbtn<%= index %>" class="form-group" style="display: none;">
                            <button type="submit" name="submit" class="btn btn-outline-warning">Upload</button>
                        </div>
                    </form>
                <%  } else { %>
                    <form name="upload<%= index %>" action="/api/front/post" method="POST" enctype="multipart/form-data" class="text-center front-form">
                        <div class="form-group" id="uploadGroup<%= index %>">
                            <label for="upload<%= index %>" class="btn btn-outline-warning">Select an image</label>
                            <input type="file" name="img" id="upload<%= index %>" class="inputfile" onchange="readURL(this);">
                        </div>
                        <img id="image<%= index %>" src="" style="width: 100%; height: auto; display: none;" alt="uploadedImg" data-uploaded="false">
                        <div class="form-group text-center">
                            <button id="delete<%= index %>" onclick="deleteImage(this, event);" class="btn btn-outline-warning" style="display: none;">Replace</button>
                        </div>
                        <input type="hidden" name="referenceId" value="<%= index %>">
                        <div id="uploadbtn<%= index %>" class="form-group" style="display: none;">
                            <button type="submit" name="submit" class="btn btn-outline-warning">Upload</button>
                        </div>
                    </form>
                <%  } %>
            <% } %>
        <% } %>
    </div>
</div>

<script>
window.onload = function () {
    for (i = 1; i <= 5; i++) {
        let src = $(`#image${i}`)[0].getAttribute("data-uploaded");
        if (src == "true") {
            $(`#uploadGroup${i}`).attr('style', "display: none");
        } 
    }
}

function deleteImage (item, e) {
    e.preventDefault();
    let imageItemId = "image" + item.id.substr(6, 1);
    let imageItem = document.getElementById(imageItemId);

    removeItem(imageItem);
    removeItem(item);
    let groupId = $("#uploadGroup" + item.id.substr(6, 1));
    let uploadBtnId = $("#uploadbtn" + item.id.substr(6, 1));
    uploadBtnId.attr("style", "display: none");
    groupId.attr("style", "display: block");

   /* let url = `/api/front/delete/${item.id.substr(6, 1)}`;
    console.log(url)
    window.location.href = url;*/
    //delete image from database through api call
}

function removeItem (item) {
    item.style = "display: none;";
    item.src = "";
}

function readURL(input) {
    let targetImgId = "#image" + input.id.substr(6, 1);
    let targetBtnId = "#uploadGroup" + input.id.substr(6, 1);
    let targetDeleteId = "#delete" + input.id.substr(6, 1);
    let targetUploadId = "#uploadbtn" + input.id.substr(6, 1);
    if (input.files && input.files[0]) {
        var reader = new FileReader();
    
        reader.onload = function(e) {
            $(targetImgId).attr('src', e.target.result);
            $(targetImgId).attr('style',"display: block");
            $(targetDeleteId).attr('style', "display: inline-block");
            $(targetUploadId).attr('style', "display: block");
            $(targetBtnId).attr('style', "display: none");
        }
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
  
<% include ../partials/footer %>