<% include ../partials/head %>

<div class="container container-single"> 
    <div class="single-wrapper col-8 offset-2">
        <h1 class="form-title">Modifier les images de l'accueil</h1>
        <h5 class="text-center" style="color: var(--light-shade-p1)">*Pensez à utiliser des images au format paysage...</h5>
        <% if (locals.front) { %>
            <% for (var index = 0; index < 5; index++) { %>
                <% if (locals.front[index] && locals.front[index].null != true) { %>
                    <form class="col-10 offset-1 text-center front-form" name="upload<%= index %>" action="/api/front/post" method="POST" enctype="multipart/form-data" onsubmit="postFront(event, this);">
                        <div class="form-group" id="uploadGroup<%= index %>">
                            <label for="upload<%= index %>" class="logbtn img-btn">Choisir une image</label>
                            <input type="file" name="img" id="upload<%= index %>" class="inputfile" onchange="readURL(this);">
                        </div>
                        <img class="w-100" id="image<%= index %>" src="http://localhost:8089/api/front/image/<%= locals.front[index]._id %>" alt="uploadedImg" data-uploaded="true">
                        <div class="form-group text-center">
                            <button id="delete<%= index %>" onclick="deleteImage(this, event);" class="delbtn">SUPPRIMER</button>
                        </div>
                        <input type="hidden" name="referenceId" value="<%= index %>">
                        <div id="uploadbtn<%= index %>" class="form-group" style="display: none;">
                            <button type="submit" name="submit" class="logbtn">Valider</button>
                        </div>
                    </form>
                <%  } else { %>
                    <form class="col-10 offset-1 text-center front-form" name="upload<%= index %>" action="/api/front/post" method="POST" enctype="multipart/form-data" onsubmit="postFront(event, this);">
                        <div class="form-group" id="uploadGroup<%= index %>">
                            <label for="upload<%= index %>" class="logbtn img-btn">Choisir une image</label>
                            <input type="file" name="img" id="upload<%= index %>" class="inputfile" onchange="readURL(this);">
                        </div>
                        <img class="w-100" id="image<%= index %>" src="" style="display: none;" alt="uploadedImg" data-uploaded="false">
                        <div class="form-group text-center">
                            <button id="delete<%= index %>" onclick="deleteImage(this, event);" class="delbtn" style="display: none;">SUPPRIMER</button>
                        </div>
                        <input type="hidden" name="referenceId" value="<%= index %>">
                        <div id="uploadbtn<%= index %>" class="form-group" style="display: none;">
                            <button type="submit" name="submit" class="logbtn">Valider</button>
                        </div>
                    </form>
                <%  } %>
            <% } %>
        <% } else { %>
            <form class="col-10 offset-1  text-center front-form" name="upload0" action="/api/front/post" method="POST" enctype="multipart/form-data" onsubmit="postFront(event, this);">
                <div class="form-group" id="uploadGroup0">
                    <label for="upload0" class="logbtn img-btn">Choisir une image</label>
                    <input type="file" name="img" id="upload0" class="inputfile" onchange="readURL(this);">
                </div>
                <img class="w-100" id="image0" src="" style="display: none;" alt="uploadedImg" data-uploaded="false">
                <div class="form-group text-center">
                    <button id="delete0" onclick="deleteImage(this, event);" class="delbtn" style="display: none;">Delete</button>
                </div>
                <input type="hidden" name="referenceId" value="0">
                <div id="uploadbtn0" class="form-group" style="display: none;">
                    <button type="submit" name="submit" class="logbtn">Valider</button>
                </div>
            </form>
        <% } %>
    </div>
</div>

<script>
window.onload = function () {
    for (i = 0; i < 5; i++) {
        let src = $(`#image${i}`)[0].getAttribute("data-uploaded");
        if (src == "true") {
            $(`#uploadGroup${i}`).attr('style', "display: none");
        } 
    }
}

function deleteImage (item, e) {
    e.preventDefault();
    let imageItemId = "image" + item.id.substr(6, 1);
    let imageItem = document.getElementById(imageItemId);

    removeItem(imageItem);
    removeItem(item);
    let groupId = $("#uploadGroup" + item.id.substr(6, 1));
    let uploadBtnId = $("#uploadbtn" + item.id.substr(6, 1));
    uploadBtnId.attr("style", "display: none");
    groupId.attr("style", "display: block");
    
    if (imageItem.getAttribute("data-uploaded") === "true") {
        fetch(`/api/front/delete/${item.id.substr(6, 1)}`, {
            method: 'get',
            mode: 'same-origin',
        })
        .then(response => response.json())
        .then(data => {
            if (data.err) {
                let alert = `
                    <div id="alert" class="alert alert-warning" role="alert" style="position: fixed;z-index: 33;margin: 0 50% 0 50%;transform: translate(-50%,0px);">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        ${data.msg}
                    </div>`;
                addAlert(alert, "#header");
            } else {
                let alert = `
                    <div id="alert" class="alert alert-success" role="alert" style="position: fixed;z-index: 33;margin: 0 50% 0 50%;transform: translate(-50%,0px);">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        ${data.msg}
                    </div>`;
                addAlert(alert, "#header");
            }
        })
    }
    else {
        let alert = `
            <div id="alert" class="alert alert-success" role="alert" style="position: fixed;z-index: 33;margin: 0 50% 0 50%;transform: translate(-50%,0px);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                Image was successfully deleted!
            </div>`;
        addAlert(alert, "#header");
    }
}

function removeItem (item) {
    item.style = "display: none;";
    item.src = "";
}

function readURL(input) {
    let targetImgId = "#image" + input.id.substr(6, 1);
    let targetBtnId = "#uploadGroup" + input.id.substr(6, 1);
    let targetDeleteId = "#delete" + input.id.substr(6, 1);
    let targetUploadId = "#uploadbtn" + input.id.substr(6, 1);
    if (input.files && input.files[0]) {
        var reader = new FileReader();
    
        reader.onload = function(e) {
            $(targetImgId).attr('src', e.target.result);
            $(targetImgId).attr('data-uploaded', "false");
            $(targetImgId).attr('style',"display: block");
            $(targetDeleteId).attr('style', "display: inline-block");
            $(targetUploadId).attr('style', "display: block");
            $(targetBtnId).attr('style', "display: none");
        }
        reader.readAsDataURL(input.files[0]);
    }
}

async function postFront(e, form) {
            e.preventDefault();
            
            let formData = new FormData();
            formData.append('img', form.querySelector('input[type="file"]').files[0]);
            formData.append('referenceId', form.querySelector('input[name="referenceId"]').value);
            
            fetch('/api/front/post', {
                method: 'post',
                mode: 'same-origin',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.err) {
                    let alert = `
                    <div id="alert" class="alert alert-warning" role="alert" style="position: fixed;z-index: 33;margin: 0 50% 0 50%;transform: translate(-50%,0px);">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        ${data.msg}
                    </div>`;
                    addAlert(alert, "#header");
                } else {
                    let alert = `
                    <div id="alert" class="alert alert-success" role="alert" style="position: fixed;z-index: 33;margin: 0 50% 0 50%;transform: translate(-50%,0px);">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        ${data.msg}
                    </div>`;
                    addAlert(alert, "#header");
                }
            })
        }
    </script>
</script>
  
<% include ../partials/footer %>