<% include ../partials/head %>

<div class="full-container">
	<div class="container">
		<div class="col-md-12">
			<h1 class="square-title text-center">Modifier les images de l'accueil</h1>
			<div class="alert alert-info alert-static" role="alert">
				Pensez à utiliser des images au format paysage...
			</div>
			<% if (locals.front) { %> <% for (let index = 0; index < 5; index++) { %> <% if (locals.front[index] && locals.front[index].null != true) { %>
			<form class="text-center front-form mt-3 <% if (index % 2 === 0) { %>even<% } %>" name="upload<%= index %>" action="/api/front/post" method="POST" enctype="multipart/form-data">
				<div class="form-group" id="uploadGroup<%= index %>">
					<label for="upload<%= index %>" class="filebtn">Choisir une image</label>
					<input type="file" name="img" id="upload<%= index %>" class="inputfile" />
				</div>
				<img class="w-100" id="image<%= index %>" src="/api/front/image/<%= locals.front[index]._id %>" alt="uploadedImg" data-uploaded="true" />
				<div class="form-group text-center">
					<button id="delete<%= index %>" class="delbtn">SUPPRIMER</button>
				</div>
				<input type="hidden" name="referenceId" value="<%= index %>" />
				<div id="uploadbtn<%= index %>" class="form-group nodisplay">
					<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
					<button type="submit" name="submit" class="submit-btn">Valider</button>
				</div>
			</form>
			<% } else { %>
			<form class="text-center front-form <% if (index % 2 === 0) { %>even<% } %>" name="upload<%= index %>" action="/api/front/post" method="POST" enctype="multipart/form-data">
				<div class="form-group" id="uploadGroup<%= index %>">
					<label for="upload<%= index %>" class="filebtn">Choisir une image</label>
					<input type="file" name="img" id="upload<%= index %>" class="inputfile" />
				</div>
				<img class="w-100 nodisplay" id="image<%= index %>" src="" alt="uploadedImg" data-uploaded="false" />
				<div class="form-group text-center">
					<button id="delete<%= index %>" class="delbtn nodisplay">SUPPRIMER</button>
				</div>
				<input type="hidden" name="referenceId" value="<%= index %>" />
				<div id="uploadbtn<%= index %>" class="form-group nodisplay">
					<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
					<button type="submit" name="submit" class="submit-btn">Valider</button>
				</div>
			</form>
			<% } %> <% } %> <% } else { %>
			<form class="text-center front-form <% if (index % 2 === 0) { %>even<% } %>" name="upload0" action="/api/front/post" method="POST" enctype="multipart/form-data">
				<div class="form-group" id="uploadGroup0">
					<label for="upload0" class="filebtn">Choisir une image</label>
					<input type="file" name="img" id="upload0" class="inputfile" />
				</div>
				<img class="w-100 nodisplay" id="image0" alt="uploadedImg" data-uploaded="false" />
				<div class="form-group text-center">
					<button id="delete0" class="delbtn nodisplay">Delete</button>
				</div>
				<input type="hidden" name="referenceId" value="0" />
				<div id="uploadbtn0" class="form-group nodisplay">
					<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
					<button type="submit" name="submit" class="submit-btn">Valider</button>
				</div>
			</form>
			<% } %>
		</div>
	</div>
</div>

<script src="/scripts/frontScripts.js" defer></script>
<% include ../partials/footer %>
