<% include ../partials/head %>

<script src="/scripts/core/bootstrap-tagsinput.js"></script>
<div class="full-container full-container-one" id="container-admin">
	<div class="container container-front">
		<div class="col-md-10 offset-md-1">
			<h1 class="square-title text-center">Modifier la galerie</h1>
			<form id="gallery" method="POST" action="/api/gallery/patch/<%= locals.gallery._id %>" data-tagform="true" enctype="multipart/form-data" data-patchgal="true" data-id="<%= locals.gallery._id %>">
				<div class="form-group">
					<label class="control-label">Titre</label>
					<input type="text" name="title" id="title" placeholder="Titre" value="<%= locals.gallery.title %>" data-vstring="1;256" required />
					<span id="i_title" class="form-info"><b>Title</b> must contain between <b>1 and 256 characters</b></span>
				</div>

				<div class="form-group">
					<label class="control-label">Description</label>
					<textarea rows="5" id="content" name="content" placeholder="Description de l'oeuvre.." data-vstring="1;4096" required><%= locals.gallery.content %></textarea>
					<span id="i_content" class="form-info"><b>Content</b> must contain between <b>1 and 4096 characters</b></span>
				</div>

				<div class="form-group">
					<div class="form-group text-center">
						<label for="img" id="imglabel" class="filebtn">Choisir des images</label>
						<input class="inputfile" type="file" name="img" id="img" multiple />
					</div>
					<% if (locals.images) { %> <% locals.images.forEach(function (item) { %>
					<img class="w-100 m-1" id="<%= item._id %>" src="<%= item.path %>" />
					<div id="actDiv<%= item._id %>" class="action-div <% if (item.isMain === true) { %> nodisplay<% } %>">
						<a id="del<%= item._id %>" data-del="true" href="/api/image/delete/<%= item._id %>"><i class="fas fa-trash-alt"></i></a>
						<a id="sel<%= item._id %>" data-sel="true" href="/api/image/select/Gallery/<%= locals.gallery._id %>/<%= item._id %>"><i class="fas fa-star"></i></a>
					</div>
					<% }) %> <% } %>
				</div>

				<div class="form-group">
					<label class="control-label">Tags</label>
					<input v-bind="selectedTags" type="text" value="" data-role="tagsinput" id="tagInput" />
					<span data-placeholder="Tags"></span>
				</div>

				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="submit-btn" value="Mettre à jour" id="submit-gallery" />
			</form>
			<form class="mt-3" method="POST" action="/api/gallery/delete/<%= locals.gallery._id %>">
				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="delbtn" value="SUPPRIMER DEFINITIVEMENT" id="delete-blog" />
			</form>
		</div>
	</div>
	<% include ../partials/footer %>
</div>

<input type="hidden" id="tagscontent" value="<%= locals.gallery.tags %>" />

<script src="/scripts/gallery/tags.js" defer></script>
<script src="/scripts/gallery/galleryScripts.js" defer></script>
<script src="/scripts/core/frontValidation.js" defer></script>
