<% include ../partials/head %>

<div class="full-container">
	<div class="container">
		<h1 class="square-title text-center">Commandes</h1>
		<div class="text-center mb-4">
			<button class="tab-btn active" id="approval-btn">En attente d'approbation</button>
			<button class="tab-btn" id="all-btn">Toutes les commandes</button>
		</div>
		<div id="approval" class="tab col-lg-10 offset-lg-1 col-md-12">
			<section class="purchase-section table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Status</th>
							<th scope="col">Prix</th>
							<th scope="col">Acheteur</th>
							<th scope="col">#ID</th>
						</tr>
					</thead>

					<tbody id="container-admin-orders-approval">
						<% if (locals.approval) { %> <% Object.keys(locals.approval).forEach(function (index) { %>
						<tr>
							<th scope="row" class="date-grid"><%= locals.approval[index].date_f %></th>
							<td class="status-grid"><%= locals.approval[index].status %></td>
							<td class="price-grid"><%= locals.approval[index].price %>€</td>
							<td class="name-grid"><%= locals.approval[index].firstname[0] %>. <%= locals.approval[index].lastname %></td>
							<td class="id-grid"><a id="approval-<%= locals.approval[index]._id %>" href="/Admin/Order/<%= locals.approval[index]._id %>">#<%= locals.approval[index]._id %></a></td>
						</tr>
						<% }) %> <% } %>
					</tbody>
				</table>
			</section>
		</div>

		<div id="all" class="tab col-lg-10 offset-lg-1 col-md-12 nodisplay">
			<section class="purchase-section table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Status</th>
							<th scope="col">Prix</th>
							<th scope="col">Acheteur</th>
							<th scope="col">#ID</th>
						</tr>
					</thead>

					<tbody id="container-admin-orders-all">
						<% if (locals.all) { %> <% Object.keys(locals.all).forEach(function (index) { %>
						<tr>
							<th scope="row" class="date-grid"><%= locals.all[index].date_f %></th>
							<td class="status-grid"><%= locals.all[index].status %></td>
							<td class="price-grid"><%= locals.all[index].price %>€</td>
							<td class="name-grid"><%= locals.all[index].firstname[0] %>. <%= locals.all[index].lastname %></td>
							<td class="id-grid"><a id="all-<%= locals.all[index]._id %>" href="/Admin/Order/<%= locals.all[index]._id %>">#<%= locals.all[index]._id %></a></td>
						</tr>
						<% }) %> <% } %>
					</tbody>
				</table>
			</section>
		</div>
		<div class="col-md-6 offset-md-3 mb-3">
			<img id="loader" src="/img/loader.gif" />
			<input id="infinitebtn" type="submit" class="submit-btn" value="Load more" data-target="approval" />
		</div>
	</div>
</div>

<script src="/scripts/order/infiniteOrders.js" defer></script>
<% include ../partials/footer %>
