<% include ../partials/head %>

<div class="full-container full-container-one" id="container-admin">
	<div class="container container-front">
		<div class="col-md-10 offset-md-1">
			<h1 class="square-title text-center">Modifier la boutique</h1>
			<form id="shop" method="POST" action="/api/shop/patch/<%= locals.shop._id %>" enctype="multipart/form-data" data-patchshop="true" data-id="<%= locals.shop._id %>">
				<div class="form-group">
					<label class="control-label">Titre</label>
					<input type="text" name="title" id="title" placeholder="Titre" value="<%= locals.shop.title %>" data-vstring="1;256" required />
					<span id="i_title" class="form-info"><b>Title</b> must contain between <b>1 and 256 characters</b></span>
				</div>

				<div class="form-group">
					<label class="control-label">Description</label>
					<textarea rows="5" id="content" name="content" class="blog-textarea" placeholder="Your item description here" data-vstring="1;4096" required><%= locals.shop.content %></textarea>
					<span id="i_content" class="form-info"><b>Content</b> must contain between <b>1 and 4096 characters</b></span>
				</div>

				<div class="form-group">
					<label class="control-label">Prix</label>
					<input placeholder="35.50 (au centième d'euro près)" type="number" min="1" id="price" name="price" value="<%= locals.shop.price %>" step=".01" required />
				</div>

				<div class="form-group">
					<div class="form-group text-center">
						<label for="img" id="imglabel" class="filebtn">Choisir des images</label>
						<input class="inputfile" type="file" name="img" id="img" multiple />
					</div>
					<% if (locals.img) { %> <% locals.img.forEach(function (item) { %>
					<img class="w-100 m-1" id="<%= item._id %>" src="/api/image/<%= item._id %>" />
					<div id="actDiv<%= item._id %>" class="action-div <% if (item.isMain === true) { %> nodisplay<% } %>">
						<a id="del<%= item._id %>" data-del="true" href="/api/image/delete/<%= item._id %>"><i class="fas fa-trash-alt"></i></a>
						<a id="sel<%= item._id %>" data-sel="true" href="/api/image/select/Shop/<%= locals.shop._id %>/<%= item._id %>"><i class="fas fa-star"></i></a>
					</div>
					<% }) %> <% } %>
				</div>

				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="submit-btn" value="Mettre à jour" id="submit-shop" />
			</form>
			<form class="mt-3" method="POST" action="/api/shop/delete/<%= locals.shop._id %>">
				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="delbtn" value="SUPPRIMER DEFINITIVEMENT" id="delete-shop" />
			</form>
		</div>
	</div>
	<% include ../partials/footer %>
</div>

<script src="/scripts/shop/shopScripts.js" defer></script>
<script src="/scripts/core/frontValidation.js" defer></script>
